<div class="banner" id="banner">
    <div class="js-main-banner main-carousel banner__slider">
        <div class="banner__slider-item carousel-cell">
            <picture>
                <source data-flickity-lazyload-srcset="https://cdn2.medihub.vn/image/1349/w/ImagesUpload/2018/10/16/16b3de11-8415-4b9c-a105-5b5ed65c70f8_backgroupfinal02.jpg" media="(max-width: 768px)" class="banner__slide-img">
                <img data-flickity-lazyload-src="https://cdn2.medihub.vn/image/1349/w/ImagesUpload/2018/10/16/16b3de11-8415-4b9c-a105-5b5ed65c70f8_backgroupfinal02.jpg" class="banner__slide-img">
            </picture>
            @*<div class="banner__info banner__info--2">
                <h3 class="banner__title"></h3>
                <p class="banner__des"></p>
            </div>*@
        </div>

        <div class="banner__slider-item carousel-cell">
            <picture>
                <source data-flickity-lazyload-srcset="https://cdn2.medihub.vn/image/1349/w/ImagesUpload/2018/10/16/31a430fc-2be9-49b5-ab28-9cae4e58bcbb_backgroupfinal03.jpg" media="(max-width: 768px)" class="banner__slide-img">
                <img data-flickity-lazyload-src="https://cdn2.medihub.vn/image/1349/w/ImagesUpload/2018/10/16/31a430fc-2be9-49b5-ab28-9cae4e58bcbb_backgroupfinal03.jpg" class="banner__slide-img">
            </picture>
            @*<div class="banner__info">
                <h3 class="banner__title"></h3>
                <p class="banner__des"></p>
            </div>*@
        </div>

        <div class="banner__slider-item carousel-cell">
            <picture>
                <source data-flickity-lazyload-srcset="https://cdn2.medihub.vn/image/1349/w/ImagesUpload/2018/10/16/9b993f92-892f-4d87-8813-03a76cb1ede9_backgroupfinal01.jpg" media="(max-width: 768px)" class="banner__slide-img">
                <img data-flickity-lazyload-src="https://cdn2.medihub.vn/image/1349/w/ImagesUpload/2018/10/16/9b993f92-892f-4d87-8813-03a76cb1ede9_backgroupfinal01.jpg" class="banner__slide-img">
            </picture>
            @*<div class="banner__info">
                <h3 class="banner__title"></h3>
                <p class="banner__des"></p>
            </div>*@
        </div>
        <div class="banner__slider-item carousel-cell">
            <picture>
                <source data-flickity-lazyload-srcset="https://cdn2.medihub.vn/image/1349/w/ImagesUpload/2018/10/16/df8a47a9-4d8d-469b-86c8-2c2651b8b1b7_backgroupfinal04.jpg" media="(max-width: 768px)" class="banner__slide-img">
                <img data-flickity-lazyload-src="https://cdn2.medihub.vn/image/1349/w/ImagesUpload/2018/10/16/df8a47a9-4d8d-469b-86c8-2c2651b8b1b7_backgroupfinal04.jpg" class="banner__slide-img">
            </picture>
            <!-- <div class="banner__info">
          <h3 class="banner__title">Bacon ipsum dolor amet drumstick</h3>
          <p class="banner__des">Bacon ipsum dolor amet drumstick strip steak boudin sirloin porchetta doner cupim swine shank sausage frankfurter tongue corned beef</p>
        </div> -->
        </div>
    </div>
</div>