@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_LayoutAdmin";
}

<h2>@ViewData["Title"]</h2>

<div class="m-content">
    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-warning"></i>
        </div>
        <div class="m-alert__text">
            Please check your email to reset your password.
        </div>
    </div>

</div>