@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@*<h2>@ViewData["Title"]</h2>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}*@
<div class="m-login__signin">

    <form asp-action="ForgotPassword" method="post" class="m-login__form m-form">

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group m-form__group">

            <input asp-for="Email" placeholder="Email" class="form-control m-input" autocomplete="off" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
       
 

        <div class="m-login__form-action">
            <button type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Submit</button>
        </div>
      
    </form>

</div>