@{
    Layout = "_LayoutAdmin";
}
<h2>@ViewData["Title"]</h2>


<div class="m-content">
    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-success"></i>
        </div>
        <div class="m-alert__text">
            @ViewData["Result"]. Click vào <a href="@ViewData["Action"]">đây</a> quay trở lại.
        </div>
    </div>

</div>