<!-- Start Page Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-3">
        <h3 class="footer__title">
          Liên Hệ
        </h3>
        <h3 class="footer__title">
          Công ty TNHH Truyền Thông Medihub
        </h3>
        <ul class="footer__links">
          <li class="footer__link">
            <a href="#">
              <svg class="footer__links-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location"></use>
              </svg>
              Lầu 4, 302 Lê Văn Sỹ, P. 1, Q. Tân Bình, TP.HCM
            </a>
          </li>
          <li class="footer__link">
            <a href="#">
              <svg class="footer__links-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"></use>
              </svg>
              (84.8) 39910716
            </a>
          </li>
          <li class="footer__link">
            <a href="#">
              <svg class="footer__links-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use>
              </svg>
              lienhe@medihub.vn
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="footer__title">
          Mạng Xã Hội
        </h3>
        <ul class="social footer__social">
          <li class="social__item">
            <a href="#" class="social__link social__link--fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link social__link--yt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <div class="footer__copyright text-center">
          © 2017 <a href="#">Medihub</a>. All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Page Footer -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU4CVf8FLD6nXeKM_lSBL_nnY8DobX6Qs"></script> -->

<!-- inject:js -->
<!-- endinject -->
</body>

</html>
