<!-- inject:components/header.html -->
<!-- endinject -->

<section class="section section--media" id="media">

  <div class="container">
    <h2 class="section__headline section__headline--light">
      <span class="section__headline-box">MÀN HÌNH TRUYỀN THÔNG KÊNH Y TẾ</span>
    </h2>
    <p class="section__description">
      Với số lượng trên 1000 màn hình truyền thông tại gần 40 bệnh viện và hơn 500 nhà thuốc trên toàn quốc. Tổng thời lượng quản
      cáo lên đến 12 giờ/ngày/1 màn hình, chấp nhận tất cả các hình ảnh quản cáo, TVC với thời lượng đa dạng 5s/15s/30s/60s
    </p>
    <div class="section__content">
      <div class="media row">
        <div class="col-md-6 ml-auto">
          <div class="media__item">
            <div class="media__achievement">
              <div class="media__achievement-left">
                <span class="number">40</span>
                Bệnh viện
              </div>
              <div class="media__achievement-right">
                <span class="number">2,667,000</span>
                Lượt xem/ Tuần
              </div>
            </div>
            <figure class="media__link">
              <img src="./images/achievement-1.jpg" alt="" class="img-fluid w-100">
              <figcaption>
                <a href="#">
                  XEM DANH SÁCH NHÀ THUỐC
                </a>
              </figcaption>
            </figure>
          </div>
          <div class="media__item">
            <div class="media__achievement">
              <div class="media__achievement-left">
                <span class="number">500</span>
                NHÀ THUỐC
                <br> HẠNG A
              </div>
              <div class="media__achievement-right">
                <span class="number">2,667,000</span>
                Lượt xem/ Tuần
              </div>
            </div>
            <figure class="media__link">
              <img src="./images/achievement-2.jpg" alt="" class="img-fluid w-100">
              <figcaption>
                <a href="#">
                  XEM DANH SÁCH BỆNH VIỆN
                </a>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-12 mt-5 text-center">
          <a href="#" class="btn btn-red">ĐẶT QUẢNG CÁO</a>
        </div>
        <div class="col-md-12 mt-5">
          <div class="js-hospitalSlice">
            <img src="./images/" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="section__headline">
    <span class="section__headline-box">MEDIHUB OOH</span>
  </h2>
  <div class="section__content">
    <div class="m-ooh">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-md-6 m-auto">
            <p class="m-ooh__intro">MediHub hiện đang sở hữu màn hình LED lớn nhất tại các Bệnh viện và hệ thống Billboard, Poster, Kiat truyền thông
              ...
            </p>
          </div>
          <div class="m-ooh__content col-xl-12">
            <div class="row">
              <div class="col-xl-6">
                <div class="m-ooh__item">
                  <div class="m-ooh__item__img">
                    <div class="">
                      <img src="images/m-ooh.png">
                    </div>
                  </div>
                  <div class="m-ooh__item__title">
                    <h5>Hệ thống màn hình LED</h5>
                  </div>
                  <div class="m-ooh__info">
                    <p>MediHub Led có kích thước lên đến 30m2 đặt tại Bệnh viện Từ Dũ, dự kiến tiếp nhận 10.000 người mỗi ngày,
                      góp phần truyền tải các thông tin y tế, các hướng dẫn và các sản phẩm chăm sóc sức khỏe chất lượng
                      đến người dân ...
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="m-ooh__item">
                  <div class="m-ooh__item__img">
                    <div class="">
                      <img src="images/m-ooh.png">
                    </div>
                  </div>
                  <div class="m-ooh__item__title">
                    <h5>Hệ thống màn hình LED</h5>
                  </div>
                  <div class="m-ooh__info">
                    <p>MediHub Led có kích thước lên đến 30m2 đặt tại Bệnh viện Từ Dũ, dự kiến tiếp nhận 10.000 người mỗi ngày,
                      góp phần truyền tải các thông tin y tế, các hướng dẫn và các sản phẩm chăm sóc sức khỏe chất lượng
                      đến người dân ...
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="m-ooh__item">
                  <div class="m-ooh__item__img">
                    <div class="">
                      <img src="images/m-ooh.png">
                    </div>
                  </div>
                  <div class="m-ooh__item__title">
                    <h5>Hệ thống màn hình LED</h5>
                  </div>
                  <div class="m-ooh__info">
                    <p>MediHub Led có kích thước lên đến 30m2 đặt tại Bệnh viện Từ Dũ, dự kiến tiếp nhận 10.000 người mỗi ngày,
                      góp phần truyền tải các thông tin y tế, các hướng dẫn và các sản phẩm chăm sóc sức khỏe chất lượng
                      đến người dân ...
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="m-ooh__item">
                  <div class="m-ooh__item__img">
                    <div class="">
                      <img src="images/m-ooh.png">
                    </div>
                  </div>
                  <div class="m-ooh__item__title">
                    <h5>Hệ thống màn hình LED</h5>
                  </div>
                  <div class="m-ooh__info">
                    <p>MediHub Led có kích thước lên đến 30m2 đặt tại Bệnh viện Từ Dũ, dự kiến tiếp nhận 10.000 người mỗi ngày,
                      góp phần truyền tải các thông tin y tế, các hướng dẫn và các sản phẩm chăm sóc sức khỏe chất lượng
                      đến người dân ...
                    </p>
                  </div>
                </div>
              </div>




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--contact">
  <h2 class="section__headline">
    <span class="section__headline-box">MẠNG XÃ HỘI MEDIHUB.VN</span>
  </h2>
  <div class="section__content">
    <div class="m-social">
      <div class="container">
        <div class="row">
          <div class="m-social__wraper col-xl-12 col-md-12">
            <div class="row">
              <div class="m-social__img col-xl-6 col-md-6">
                <img src="images/m-social.png">
              </div>
              <div class="m-social__intro col-xl-6 col-md-6">
                <div class="m-social__intro__top">
                  <p class="m-social__detail">Meidhub là mạng xã hội về Y tế - Sức khỏe duy nhất tại Việt Nam, cũng cấp thông tin toàn diện, chính thống
                    với sự hợp tác, bảo trợ thông tin của các bệnh viện, các chuyên gia y tế cho người dân; đồng thời hỗ
                    trợ tra cứu thông tin về bệnh viện và bác sĩ.
                  </p>
                </div>
                <div class="m-social__intro__bottom">
                  <button type="submit" class="btn btn-red">TRUY CẬP NGAY</button>
                </div>
              </div>
            </div>

          </div>

          <div class="m-social__supp space-evenly col-xl-12 col-md-12">
            <div class="col-xl-3">
              <div class="m-social__supp__mem">
                <p class="m-social__detail">Hợp tác chính thức với các Bệnh viện và các chuyên gia y tế</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="m-social__supp__mem">
                <p class="m-social__detail">Là kênh tương tác hiệu quả giữa người dân - HCPs - các thương hiệu</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="m-social__supp__mem">
                <p class="m-social__detail">Cung cấp các thông tin truyền thông giáo dục Y tế - Sức khỏe chính thống, thực tiễn</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="m-social__supp__mem">
                <p class="m-social__detail">Hỗ trợ tìm kiếm thông tin bệnh viện, bác sĩ </p>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- inject:components/symbol-defs.svg -->
<!-- endinject -->

<!-- inject:components/footer.html -->
<!-- endinject -->
