<!-- inject:components/header.html -->
<!-- endinject -->

<!-- inject:components/nav.html -->
<!-- endinject -->

<div class="loading">
  <div class="spinner">
      <div class="cube1"></div>
      <div class="cube2"></div>
  </div>
</div>

<div class="banner" id="banner">
  <div class="banner__desktop">
    <div class="banner__slogans bounceInDown wow">
      <h2 class="banner__slogan">
        CÔNG TY TRUYỀN THÔNG
        <br>
        <span class="banner__slogan--big">
          TIẾP THỊ B2B và B2C
        </span>
        <br> VỀ Y TẾ LỚN NHẤT
      </h2>
      <h2 class="banner__slogan" style="display: none">
        MEDICAL CHANNELS TẠI CÁC
        <br> BỆNH VIỆN
        <span class="banner__slogan--big">HẠNG ĐẶC BIỆT</span> VÀ
        <span class="banner__slogan--big">HẠNG I,</span>
        <br> CÁC NHÀ THUỐC
        <span class="banner__slogan--big">HẠNG A</span>
      </h2>
      <h2 class="banner__slogan" style="display: none">
        <span class="banner__slogan--big">CHỦ ĐỘNG</span>
        <br> CHỌN KHÁCH HÀNG MỤC TIÊU
        <br> VÀ GÓI
        <span class="banner__slogan--big">NGÂN SÁCH PHÙ HỢP</span>
      </h2>
    </div>
    <div class="banner__icons">
      <img src="./images/banner-i1.png" data-number="0" alt="" class="js-banner banner__icon banner__icon--1 bounceInDown wow"
        data-wow-delay="0.75s">
      <img src="./images/banner-i2.png" data-number="1" alt="" class="js-banner banner__icon banner__icon--2 bounceInDown wow"
        data-wow-delay="0.25s">
      <img src="./images/banner-i3.png" data-number="2" alt="" class="js-banner banner__icon banner__icon--3 bounceInDown wow"
        data-wow-delay="0.5s">
    </div>
  </div>
</div>

<section class="section" id="intro">
  <h2 class="section__headline">
    <span class="section__headline-box">GIỚI THIỆU</span>
  </h2>
  <div class="section__content">
    <div class="container">

      <div class="intro">
        <div class="intro__items">
          <div class="intro__item wow fadeInLeftSubtle wow" data-wow-delay="0s">
            <svg class="icon intro__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-intro03"></use>
            </svg>
            <p class="intro__description">
              MediHub Media là công ty truyền thông tiếp thị B2C & B2B phát triển nhanh nhất, tập trung chuyên ngành chăm sóc Y tế - Sức
              khỏe thông qua các nền tảng kỹ thuật số và công nghệ.
            </p>
          </div>
          <div class="intro__item wow fadeInLeftSubtle wow" data-wow-delay="0s">
            <svg class="icon intro__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-intro02"></use>
            </svg>
            <p class="intro__description">
              MediHub Media là công ty truyền thông tiếp thị B2C & B2B phát triển nhanh nhất, tập trung chuyên ngành chăm sóc Y tế - Sức
              khỏe thông qua các nền tảng kỹ thuật số và công nghệ.
            </p>
          </div>
          <div class="intro__item wow fadeInLeftSubtle wow" data-wow-delay="0s">
            <svg class="icon intro__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-intro01"></use>
            </svg>
            <p class="intro__description">
              MediHub Media là công ty truyền thông tiếp thị B2C & B2B phát triển nhanh nhất, tập trung chuyên ngành chăm sóc Y tế - Sức
              khỏe thông qua các nền tảng kỹ thuật số và công nghệ.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="services">
  <h2 class="section__headline">
    <span class="section__headline-box">SẢN PHẨM & DỊCH VỤ</span>
  </h2>
  <div class="section__content">
    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-7 services__left">
            <div class="js-servicesFor services__items">
              <figure class="services__item">
                <img src="./images/slide-1.jpg" alt="" class="img-fluid">
                <figcaption>
                  Màn hình truyền thông kênh y tế
                </figcaption>
              </figure>
              <figure class="services__item">
                <img src="./images/slide-2.jpg" alt="" class="img-fluid">
                <figcaption>
                  Màn hình truyền thông kênh y tế
                </figcaption>
              </figure>
              <figure class="services__item">
                <img src="./images/slide-3.jpg" alt="" class="img-fluid">
                <figcaption>
                  Màn hình truyền thông kênh y tế
                </figcaption>
              </figure>
              <figure class="services__item">
                <img src="./images/slide-4.jpg" alt="" class="img-fluid">
                <figcaption>
                  Màn hình truyền thông kênh y tế
                </figcaption>
              </figure>
            </div>
            <div class="js-servicesNav services__thumbs">
              <img src="./images/slide-1.jpg" alt="" class="img-fluid">
              <img src="./images/slide-2.jpg" alt="" class="img-fluid">
              <img src="./images/slide-3.jpg" alt="" class="img-fluid">
              <img src="./images/slide-4.jpg" alt="" class="img-fluid">
            </div>
            <div class="text-center d-md-none d-block mt-3">
              <a href="#" class="btn btn-red">Xem Thêm</a>
            </div>
          </div>
          <div class="col-md-5 services__right wow fadeInRightSubtle" data-wow-delay="0.1s">
            <h3 class="fs-title">
              MEDIHUB
              <span class="fs-title__big">MEDIA CHANNELS</span>
            </h3>
            <p>
              Chúng tôi cung cấp toàn diện các hoạt động Phát triển, Sáng tạo và Sản xuất nội dung liên quan Y tế - Sức khỏe và các hoạt
              động PR, Digital Marketing cho các sản phẩm, thương hiệu với các thế mạnh riêng có mà bạn không thể tìm thấy
              ở nơi khác.
            </p>
            <div class="text-right d-md-block d-none">
              <a href="#" class="btn btn-red">Xem Thêm</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--healthcare">
  <div class="section__content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInLeftSubtle" data-wow-delay="0.1s">
          <h3 class="fs-title">
            HEALTHCARE
            <span class="fs-title__big">CONTENT</span>
          </h3>
          <p>
            Chúng tôi cung cấp toàn diện các hoạt động Phát triển, Sáng tạo và Sản xuất nội dung liên quan Y tế - Sức khỏe và các hoạt
            động PR, Digital Marketing cho các sản phẩm, thương hiệu với các thế mạnh riêng có mà bạn không thể tìm thấy
            ở nơi khác.
          </p>

          <div class="text-right d-md-block d-none">
            <a href="#" class="btn btn-red">Xem Thêm</a>
          </div>
        </div>
        <div class="col-md-6 wow fadeInRightSubtle">
          <img src="./images/connect01.jpg" alt="" class="img-fluid">
          <div class="text-center d-md-none d-block mt-3">
            <a href="#" class="btn btn-red">Xem Thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section section--marketing">
  <div class="section__content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInLeftSubtle">
          <h3 class="fs-title">
            <span class="fs-title__big">POS</span> MARKETING SERVICE
          </h3>
          <p>
            Chúng tôi cung cấp toàn diện các hoạt động Phát triển, Sáng tạo và Sản xuất nội dung liên quan Y tế - Sức khỏe và các hoạt
            động PR, Digital Marketing cho các sản phẩm, thương hiệu với các thế mạnh riêng có mà bạn không thể tìm thấy
            ở nơi khác.
          </p>

          <div class="text-right d-md-block d-none">
            <a href="#" class="btn btn-red">Xem Thêm</a>
          </div>
        </div>
        <div class="col-md-6 wow fadeInRightSubtle">
          <img src="./images/connect02.jpg" alt="" class="img-fluid">
          <div class="text-center d-md-none d-block mt-3">
            <a href="#" class="btn btn-red">Xem Thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="news">
  <h2 class="section__headline">
    <span class="section__headline-box">TIN TỨC</span>
  </h2>
  <div class="section__content">
    <div class="play">
      <div class="container">
        <img src="./images/video-bg.jpg" alt="" class="w-100">
        <div class="play__wrap wow bounceIn">
          <a class="play__btn" data-fancybox="" href="https://www.youtube.com/watch?v=oaYFWSuXLuA&amp;feature=youtu.be">
            <span></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="news" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="news__item">
          <a href="#" class="news__img">
            <img src="https://cdn2.medihub.vn/image/500/w/ImagesUpload/2018/03/08/9bb1e77a-6937-421a-8ab7-3d61efa91272_a.jpg" alt=""
              class="img-fluid w-100">
          </a>
          <div class="news__des">
            <a href="#" class="news__title">Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân</a>

            <p class="news__summary">
              Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân, Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="news__item news__item--sub">
          <a href="#" class="news__img">
            <img src="https://cdn2.medihub.vn/image/500/w/ImagesUpload/2018/03/08/9bb1e77a-6937-421a-8ab7-3d61efa91272_a.jpg" alt=""
              class="img-fluid">
          </a>
          <div class="news__des">
            <a href="#" class="news__title">Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân</a>

            <p class="news__summary">
              Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân, Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân
            </p>
          </div>
        </div>
        <div class="news__item news__item--sub">
          <a href="#" class="news__img">
            <img src="https://cdn2.medihub.vn/image/500/w/ImagesUpload/2018/03/08/9bb1e77a-6937-421a-8ab7-3d61efa91272_a.jpg" alt=""
              class="img-fluid">
          </a>
          <div class="news__des">
            <a href="#" class="news__title">Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân</a>

            <p class="news__summary">
              Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân, Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân
            </p>
          </div>
        </div>
        <div class="news__item news__item--sub">
          <a href="#" class="news__img">
            <img src="https://cdn2.medihub.vn/image/500/w/ImagesUpload/2018/03/08/9bb1e77a-6937-421a-8ab7-3d61efa91272_a.jpg" alt=""
              class="img-fluid">
          </a>
          <div class="news__des">
            <a href="#" class="news__title">Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân</a>

            <p class="news__summary">
              Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân, Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section" id="clients">
  <h2 class="section__headline">
    <span class="section__headline-box">KHÁCH HÀNG</span>
  </h2>
  <div class="section__content">
    <div class="clients js-client-slide">
      <div class="clients__item">
        <img src="./images/clients/abbott.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/aj.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/ajinomoto.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/bayer.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/bayer-white.jpg" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/dksh.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/fonterra.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/groupm.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/gsk.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/ipsen.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/kitkat.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/kotra.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/menarini.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/merck.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/merz.gif" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/nhatnhat.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/nundi.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/nutifood.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/pfizer.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/roche.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/rohto.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/sanofi.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/stada.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/united.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/unza.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/vinamilk.png" alt="" class="img-fluid">
      </div>
      <div class="clients__item">
        <img src="./images/clients/zuelligpharma.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="section section--contact" id="contact">
  <h2 class="section__headline">
    <span class="section__headline-box">LIÊN HỆ</span>
  </h2>
  <p class="section__description">
    Vui lòng gọi Hotline 84.8 39910716 nếu quý khách cần hỗ trợ gấp hoặc gửi thông tin theo mẫu dưới đây.
  </p>
  <div class="section__content">
    <div class="contact">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-md-8 m-auto">
            <form class="contact__form">
              <div class="form-group form-row">
                <label for="name" class="col-3 contact__label">Họ và tên</label>
                <input type="type" class="form-control col-9" id="name" aria-describedby="name" placeholder="Tên đây đủ của bạn">
              </div>
              <div class="form-group form-row">
                <label for="phonenumber" class="col-3 contact__label">Số điện thoại</label>
                <input type="type" class="form-control col-9" id="phonenumber" placeholder="Số điện thoại của bạn">
              </div>
              <div class="form-group form-row">
                <label for="email" class="col-3 contact__label">Email</label>
                <input type="email" class="form-control col-9" id="email" placeholder="Email giúp chúng tôi liên lạc">
              </div>
              <div class="form-group form-row">
                <label for="note" class="col-3 contact__label">Nội dung</label>
                <textarea class="form-control col-9" id="note" placeholder="Chúng tôi có thể giúp gì cho bạn?"></textarea>
              </div>
              <div class="form-row">
                <button type="submit" class="ml-auto btn btn-red wow bounceIn">Gửi</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- inject:components/symbol-defs.svg -->
<!-- endinject -->

<!-- inject:components/footer.html -->
<!-- endinject -->
