<!-- inject:components/header.html -->
<!-- endinject -->

<!-- inject:components/nav.html -->
<!-- endinject -->

<div class="banner">
  <div class="banner__desktop">
    <div class="banner__slogans">
      <h2 class="banner__slogan">
        <span class="banner__slogan--sub">
          CÔNG TY TRUYỀN THÔNG
        </span>
        TIẾP THỊ B2B và B2C
        <span class="banner__slogan--sub">
          VỀ Y TẾ LỚN NHẤT
        </span>
      </h2>
    </div>
    <div class="banner__icons">
      <img src="./images/banner-i1.png" alt="" class="banner__icon banner__icon--1">
      <img src="./images/banner-i2.png" alt="" class="banner__icon banner__icon--2">
      <img src="./images/banner-i3.png" alt="" class="banner__icon banner__icon--3">
    </div>
  </div>
</div>

<section class="section">
  <h2 class="section__headline">
    <span class="section__headline-box">GIỚI THIỆU</span>
  </h2>
  <div class="section__content">
    <div class="container">

      <div class="intro">
        <div class="intro__items">
          <div class="intro__item">
            <svg class="icon intro__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-intro03"></use>
            </svg>
            <p class="intro__description">
              MediHub Media là công ty truyền thông tiếp thị B2C & B2B phát triển nhanh nhất, tập trung chuyên ngành chăm sóc Y tế - Sức
              khỏe thông qua các nền tảng kỹ thuật số và công nghệ.
            </p>
          </div>
          <div class="intro__item">
            <svg class="icon intro__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-intro02"></use>
            </svg>
            <p class="intro__description">
              MediHub Media là công ty truyền thông tiếp thị B2C & B2B phát triển nhanh nhất, tập trung chuyên ngành chăm sóc Y tế - Sức
              khỏe thông qua các nền tảng kỹ thuật số và công nghệ.
            </p>
          </div>
          <div class="intro__item">
            <svg class="icon intro__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-intro01"></use>
            </svg>
            <p class="intro__description">
              MediHub Media là công ty truyền thông tiếp thị B2C & B2B phát triển nhanh nhất, tập trung chuyên ngành chăm sóc Y tế - Sức
              khỏe thông qua các nền tảng kỹ thuật số và công nghệ.
            </p>
          </div>
        </div>

        <div class="text-center">
          <a href="#" class="btn btn-red">Xem Thêm</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="section__headline">
    <span class="section__headline-box">SẢN PHẨM & DỊCH VỤ</span>
  </h2>
  <div class="section__content">
    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-7 services__left">

          </div>
          <div class="col-md-5 services__right">
            <h3 class="fs-title">
              MEDIHUB
              <span class="fs-title__big">MEDIA CHANNELS</span>
            </h3>
            <p>
              Chúng tôi cung cấp toàn diện các hoạt động Phát triển, Sáng tạo và Sản xuất nội dung liên quan Y tế - Sức khỏe và các hoạt
              động PR, Digital Marketing cho các sản phẩm, thương hiệu với các thế mạnh riêng có mà bạn không thể tìm thấy
              ở nơi khác.
            </p>
            <div class="text-right d-md-block d-none">
              <a href="#" class="btn btn-red">Xem Thêm</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--healthcare">
  <div class="section__content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="fs-title">
            HEALTHCARE
            <span class="fs-title__big">CONTENT</span>
          </h3>
          <p>
            Chúng tôi cung cấp toàn diện các hoạt động Phát triển, Sáng tạo và Sản xuất nội dung liên quan Y tế - Sức khỏe và các hoạt
            động PR, Digital Marketing cho các sản phẩm, thương hiệu với các thế mạnh riêng có mà bạn không thể tìm thấy
            ở nơi khác.
          </p>

          <div class="text-right d-md-block d-none">
            <a href="#" class="btn btn-red">Xem Thêm</a>
          </div>
        </div>
        <div class="col-md-6">
          <img src="./images/connect01.jpg" alt="" class="img-fluid">
          <div class="text-center d-md-none d-block mt-3">
            <a href="#" class="btn btn-red">Xem Thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section section--marketing">
  <div class="section__content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="fs-title">
            <span class="fs-title__big">POS</span> MARKETING SERVICE
          </h3>
          <p>
            Chúng tôi cung cấp toàn diện các hoạt động Phát triển, Sáng tạo và Sản xuất nội dung liên quan Y tế - Sức khỏe và các hoạt
            động PR, Digital Marketing cho các sản phẩm, thương hiệu với các thế mạnh riêng có mà bạn không thể tìm thấy
            ở nơi khác.
          </p>

          <div class="text-right d-md-block d-none">
            <a href="#" class="btn btn-red">Xem Thêm</a>
          </div>
        </div>
        <div class="col-md-6">
          <img src="./images/connect02.jpg" alt="" class="img-fluid">
          <div class="text-center d-md-none d-block mt-3">
            <a href="#" class="btn btn-red">Xem Thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <h2 class="section__headline">
    <span class="section__headline-box">TIN TỨC</span>
  </h2>
  <div class="section__content">
    <div class="play">
      <div class="container">
        <img src="./images/video-bg.jpg" alt="" class="w-100">
        <div class="play__wrap">
          <a class="play__btn" data-fancybox="" href="https://www.youtube.com/watch?v=oaYFWSuXLuA&amp;feature=youtu.be">
            <span></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="news">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="news__item">
          <a href="#" class="news__img">
            <img src="https://cdn2.medihub.vn/image/500/w/ImagesUpload/2018/03/08/9bb1e77a-6937-421a-8ab7-3d61efa91272_a.jpg" alt=""
              class="img-fluid w-100">
          </a>
          <div class="news__des">
            <a href="#" class="news__title">Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân</a>

            <p class="news__summary">
              Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân, Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="news__item news__item--sub">
          <a href="#" class="news__img">
            <img src="https://cdn2.medihub.vn/image/500/w/ImagesUpload/2018/03/08/9bb1e77a-6937-421a-8ab7-3d61efa91272_a.jpg" alt=""
              class="img-fluid">
          </a>
          <div class="news__des">
            <a href="#" class="news__title">Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân</a>

            <p class="news__summary">
              Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân, Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân
            </p>
          </div>
        </div>
        <div class="news__item news__item--sub">
          <a href="#" class="news__img">
            <img src="https://cdn2.medihub.vn/image/500/w/ImagesUpload/2018/03/08/9bb1e77a-6937-421a-8ab7-3d61efa91272_a.jpg" alt=""
              class="img-fluid">
          </a>
          <div class="news__des">
            <a href="#" class="news__title">Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân</a>

            <p class="news__summary">
              Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân, Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân
            </p>
          </div>
        </div>
        <div class="news__item news__item--sub">
          <a href="#" class="news__img">
            <img src="https://cdn2.medihub.vn/image/500/w/ImagesUpload/2018/03/08/9bb1e77a-6937-421a-8ab7-3d61efa91272_a.jpg" alt=""
              class="img-fluid">
          </a>
          <div class="news__des">
            <a href="#" class="news__title">Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân</a>

            <p class="news__summary">
              Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân, Bệnh viện nhi Đồng TP.HCM triển khai kỹ thuật y học hạt nhân
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <h2 class="section__headline">
    <span class="section__headline-box">MEDIHUB OOH</span>
  </h2>
  <div class="section__content">
    <div class="m-ooh">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-md-6 m-auto">
            <p class="m-ooh__intro">MediHub hiện đang sở hữu màn hình LED lớn nhất tại các Bệnh viện và hệ thống Billboard, Poster, Kiat truyền thông
              ...
            </p>
          </div>
          <div class="m-ooh__content col-xl-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="m-ooh__item">
                  <div class="m-ooh__item__img">
                    <div class="">
                      <img src="images/m-ooh.png">
                    </div>
                  </div>
                  <div class="m-ooh__item__title">
                    <h5>Hệ thống màn hình LED</h5>
                  </div>
                  <div class="m-ooh__info">
                    <p>MediHub Led có kích thước lên đến 30m2 đặt tại Bệnh viện Từ Dũ, dự kiến tiếp nhận 10.000 người mỗi ngày,
                      góp phần truyền tải các thông tin y tế, các hướng dẫn và các sản phẩm chăm sóc sức khỏe chất lượng
                      đến người dân ...
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="m-ooh__item">
                  <div class="m-ooh__item__img">
                    <div class="">
                      <img src="images/m-ooh.png">
                    </div>
                  </div>
                  <div class="m-ooh__item__title">
                    <h5>Hệ thống màn hình LED</h5>
                  </div>
                  <div class="m-ooh__info">
                    <p>MediHub Led có kích thước lên đến 30m2 đặt tại Bệnh viện Từ Dũ, dự kiến tiếp nhận 10.000 người mỗi ngày,
                      góp phần truyền tải các thông tin y tế, các hướng dẫn và các sản phẩm chăm sóc sức khỏe chất lượng
                      đến người dân ...
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="m-ooh__item">
                  <div class="m-ooh__item__img">
                    <div class="">
                      <img src="images/m-ooh.png">
                    </div>
                  </div>
                  <div class="m-ooh__item__title">
                    <h5>Hệ thống màn hình LED</h5>
                  </div>
                  <div class="m-ooh__info">
                    <p>MediHub Led có kích thước lên đến 30m2 đặt tại Bệnh viện Từ Dũ, dự kiến tiếp nhận 10.000 người mỗi ngày,
                      góp phần truyền tải các thông tin y tế, các hướng dẫn và các sản phẩm chăm sóc sức khỏe chất lượng
                      đến người dân ...
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="m-ooh__item">
                  <div class="m-ooh__item__img">
                    <div class="">
                      <img src="images/m-ooh.png">
                    </div>
                  </div>
                  <div class="m-ooh__item__title">
                    <h5>Hệ thống màn hình LED</h5>
                  </div>
                  <div class="m-ooh__info">
                    <p>MediHub Led có kích thước lên đến 30m2 đặt tại Bệnh viện Từ Dũ, dự kiến tiếp nhận 10.000 người mỗi ngày,
                      góp phần truyền tải các thông tin y tế, các hướng dẫn và các sản phẩm chăm sóc sức khỏe chất lượng
                      đến người dân ...
                    </p>
                  </div>
                </div>
              </div>




            </div>
          </div>
          <div class="m-ooh__btn col-xl-12 col-md-12">
            <button type="submit" class="btn btn-red">ĐẶT QUẢNG CÁO</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--contact">
  <h2 class="section__headline">
    <span class="section__headline-box">MẠNG XÃ HỘI MEDIHUB.VN</span>
  </h2>
  <div class="section__content">
    <div class="m-social">
      <div class="container">
        <div class="row">
          <div class="m-social__wraper col-xl-12 col-md-12">
            <div class="row">
              <div class="m-social__img col-xl-6 col-md-6">
                <img src="images/m-social.png">
              </div>
              <div class="m-social__intro col-xl-6 col-md-6">
                <div class="m-social__intro__top">
                  <p class="m-social__detail">Meidhub là mạng xã hội về Y tế - Sức khỏe duy nhất tại Việt Nam, cũng cấp thông tin toàn diện, chính thống
                    với sự hợp tác, bảo trợ thông tin của các bệnh viện, các chuyên gia y tế cho người dân; đồng thời hỗ
                    trợ tra cứu thông tin về bệnh viện và bác sĩ.
                  </p>
                </div>
                <div class="m-social__intro__bottom">
                  <button type="submit" class="btn btn-red">TRUY CẬP NGAY</button>
                </div>
              </div>
            </div>

          </div>

          <div class="m-social__supp space-evenly col-xl-12 col-md-12">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="m-social__supp__mem">
                  <p class="m-social__detail">Hợp tác chính thức với các Bệnh viện và các chuyên gia y tế</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="m-social__supp__mem">
                  <p class="m-social__detail">Là kênh tương tác hiệu quả giữa người dân - HCPs - các thương hiệu</p>
                </div>
              </div>
              <div class="space--md-h-40"></div>
              <div class="col-lg-3 col-md-6">
                <div class="m-social__supp__mem">
                  <p class="m-social__detail">Cung cấp các thông tin truyền thông giáo dục Y tế - Sức khỏe chính thống, thực tiễn</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="m-social__supp__mem">
                  <p class="m-social__detail">Hỗ trợ tìm kiếm thông tin bệnh viện, bác sĩ </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <p class="section__description">
          Vui lòng gọi Hotline 84.8 39910716 nếu quý khách cần hỗ trợ gấp hoặc gửi thông tin theo mẫu dưới đây.
        </p> -->
  <!-- <div class="section__content">
          <div class="contact">
            <div class="container">
              <div class="row">
                <div class="col-xl-6 col-md-8 m-auto">
                  <form class="contact__form">
                    <div class="form-group form-row">
                      <label for="name" class="col-3 contact__label">Họ và tên</label>
                      <input type="type" class="form-control col-9" id="name" aria-describedby="name" placeholder="Tên đây đủ của bạn">
                    </div>
                    <div class="form-group form-row">
                      <label for="phonenumber" class="col-3 contact__label">Số điện thoại</label>
                      <input type="type" class="form-control col-9" id="phonenumber" placeholder="Số điện thoại của bạn">
                    </div>
                    <div class="form-group form-row">
                      <label for="email" class="col-3 contact__label">Email</label>
                      <input type="email" class="form-control col-9" id="email" placeholder="Email giúp chúng tôi liên lạc">
                    </div>
                    <div class="form-group form-row">
                      <label for="note" class="col-3 contact__label">Nội dung</label>
                      <textarea class="form-control col-9" id="note" placeholder="Chúng tôi có thể giúp gì cho bạn?"></textarea>
                    </div>
                    <div class="text-right">
                      <button type="submit" class="btn btn-red">Gửi</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div> -->
</section>

<!-- inject:components/symbol-defs.svg -->
<!-- endinject -->

<!-- inject:components/footer.html -->
<!-- endinject -->
