<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- begin::Base -->
    <!-- <link rel="stylesheet" href="css/index.css"> -->
    <!-- end::Base --><!-- begin::Vendors -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- end::Vendors -->
</head>
<body>
    <!-- begin::Icons -->
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="icon-link" viewbox="0 0 32 32">
                <title>link</title>
                <path d="M13.757 19.868c-0.416 0-0.832-0.159-1.149-0.476-2.973-2.973-2.973-7.81 0-10.783l6-6c1.44-1.44 3.355-2.233 5.392-2.233s3.951 0.793 5.392 2.233c2.973 2.973 2.973 7.81 0 10.783l-2.743 2.743c-0.635 0.635-1.663 0.635-2.298 0s-0.635-1.663 0-2.298l2.743-2.743c1.706-1.706 1.706-4.481 0-6.187-0.826-0.826-1.925-1.281-3.094-1.281s-2.267 0.455-3.094 1.281l-6 6c-1.706 1.706-1.706 4.481 0 6.187 0.635 0.635 0.635 1.663 0 2.298-0.317 0.317-0.733 0.476-1.149 0.476z"></path>
                <path d="M8 31.625c-2.037 0-3.952-0.793-5.392-2.233-2.973-2.973-2.973-7.81 0-10.783l2.743-2.743c0.635-0.635 1.664-0.635 2.298 0s0.635 1.663 0 2.298l-2.743 2.743c-1.706 1.706-1.706 4.481 0 6.187 0.826 0.826 1.925 1.281 3.094 1.281s2.267-0.455 3.094-1.281l6-6c1.706-1.706 1.706-4.481 0-6.187-0.635-0.635-0.635-1.663 0-2.298s1.663-0.635 2.298 0c2.973 2.973 2.973 7.81 0 10.783l-6 6c-1.44 1.44-3.355 2.233-5.392 2.233z"></path>
            </symbol>
            <symbol id="icon-attachment" viewbox="0 0 32 32">
                <title>attachment</title>
                <path d="M20.807 10.22l-2.030-2.029-10.15 10.148c-1.682 1.681-1.682 4.408 0 6.089s4.408 1.681 6.090 0l12.18-12.178c2.804-2.802 2.804-7.346 0-10.148-2.802-2.803-7.347-2.803-10.149 0l-12.788 12.787c-0.009 0.009-0.019 0.018-0.027 0.026-3.909 3.909-3.909 10.245 0 14.153 3.908 3.908 10.246 3.908 14.156 0 0.009-0.009 0.016-0.018 0.026-0.027l0.001 0.001 8.729-8.728-2.031-2.029-8.729 8.727c-0.009 0.008-0.018 0.018-0.026 0.026-2.784 2.783-7.312 2.783-10.096 0-2.783-2.783-2.783-7.31 0-10.093 0.010-0.009 0.019-0.018 0.028-0.026l-0.001-0.002 12.79-12.786c1.678-1.679 4.411-1.679 6.090 0s1.678 4.411 0 6.089l-12.18 12.178c-0.56 0.56-1.47 0.56-2.030 0-0.559-0.559-0.559-1.47 0-2.029l10.15-10.149z"></path>
            </symbol>
        </defs>
    </svg><!-- end::Icons --><div class="container-fluid">
        <div class="row mail__container" style="background-color: #cfcfcf;
    padding: 50px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;">
            <div class="col-lg-6">

                <!-- begin::Mail -->
                <div class="mail" style="background-color: white;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
          box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  padding: 2rem 0 0;">

                    <!-- begin::Mail's head -->
                    <div class="mail__head">
                        <div class="mail__head-icon" style="display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;">
                            <img src="https://cdn2.medihub.vn/ImagesUpload/2018/02/07/ea33fab6-0174-491c-8c98-881db6343197_logo-medihub.png" alt="">
                        </div>
                    </div>
                    <!-- end::Mail's head -->

                    <div class="line m--margin-top-30" style="width:100%;height:2px;background-color:rgba(69, 65, 78, 0.08);margin-top:30px;"></div>

                    <!-- begin::Mail's body -->
                    <div class="mail__body" style="padding: 2rem 5rem;">
                        <div class="mail__caption">
                            <h3 class="mail__text mail__text-title" style="color:#575962;font-size:20px;margin:0.5rem;margin-bottom:1rem;">
                                Kính chào quý khách {0}
                               
                            </h3>
                            <p style="color: #595959; font-size: 16px; font-family: Verdana, Geneva, sans-serif">
                                MediHub vừa nhận được đơn hàng #{1} của quý khách đặt ngày {3}. Chúng tôi xin gởi quý khách thông tin chi tiết đơn hàng:
                            </p>
                        </div>
                        <!-- begin::Mail's content -->
                        <div class="mail__content">
                            <table class="table-custom table__text--not" style="width:100%;max-width:100%;margin-bottom:1rem;font-size:14.5px;color:#575962;">
                               
                                <tr>
                                    <th scope="row" style="padding: 0.75rem;
    vertical-align: top;">T&ecirc;n kh&aacute;ch h&agrave;ng:</th>
                                    <td style="padding: 0.75rem;
    vertical-align: top;">
                                       {0}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="padding: 0.75rem;
    vertical-align: top;">S&#7889; &#273;i&#7879;n tho&#7841;i:</th>
                                    <td style="padding: 0.75rem;
    vertical-align: top;">
                                       {2}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" style="padding: 0.75rem;
    vertical-align: top;">Th&#7901;i gian &#273;&#7863;t h&agrave;ng:</th>
                                    <td style="padding: 0.75rem;
    vertical-align: top;">
                                       {3}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- end::Mail's content -->

                        <div class="line m--margin-top-30 m--margin-bottom-30" style="width:100%;height:2px;background-color:rgba(69, 65, 78, 0.08);margin-top:30px;margin-bottom:30px;"></div>

                        <!-- begin::Mail's details -->
                        <div class="mail__details">
                            <table class="table table__text" style="font-size: 13.5px;
  color: #575962;">
                                <thead class="table__head" style="background-color: #716aca;
  color: white;">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Lo&#7841;i</th>
                                        <th scope="col">T&ecirc;n</th>
                                        <th scope="col">Địa chỉ</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Est.View/Day</th>
                                        
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                {4}
                                <!--<tr>
                                    <th scope="row">1</th>
                                    <td>B&#7879;nh vi&#7879;n</td>
                                    <td>BV Nh&acirc;n d&acirc;n gia &#273;&#7883;nh</td>
                                    <td>10</td>
                                    <td>75.000 &#273;</td>
                                    <td>750.000 &#273;</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>B&#7879;nh vi&#7879;n</td>
                                    <td>BV H&ugrave;ng V&#432;&#417;ng</td>
                                    <td>10</td>
                                    <td>75.000 &#273;</td>
                                    <td>750.000 &#273;</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Nh&agrave; thu&#7889;c</td>
                                    <td>Nh&agrave; thu&#7889;c s&#7889; 1</td>
                                    <td>10</td>
                                    <td>75.000 &#273;</td>
                                    <td>750.000 &#273;</td>
                                    <td></td>
                                </tr>-->
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-lg-3 offset-lg-7">
                                    <p class="mail__text mail__text--pull-right" style="color:#575962;font-size:16px;margin:0.5rem;text-align:right;">Th&agrave;nh ti&#7873;n</p>
                                </div>
                                <div class="col-lg-2">
                                    <p class="mail__text mail__text--pull-right" style="color:#575962;font-size:16px;margin:0.5rem;text-align:right;">{5}</p>
                                </div>
                                <div class="col-lg-3 offset-lg-7">
                                    <p class="mail__text mail__text--pull-right" style="color:#575962;font-size:16px;margin:0.5rem;text-align:right;">Gi&#7843;m gi&aacute;</p>
                                </div>
                                <div class="col-lg-2">
                                    <p class="mail__text mail__text--pull-right" style="color:#575962;font-size:16px;margin:0.5rem;text-align:right;">{6}</p>
                                </div>
                                <div class="col-lg-3 offset-lg-7">
                                    <p class="mail__text mail__text--bold mail__text--pull-right" style="color:#575962;font-size:16px;margin:0.5rem;font-weight:bold;text-align:right;">T&#7893;ng c&#7897;ng</p>
                                </div>
                                <div class="col-lg-2">
                                    <p class="mail__text mail__text--bold mail__text--pull-right" style="color:#575962;font-size:16px;margin:0.5rem;font-weight:bold;text-align:right;">{7}</p>
                                </div>
                            </div>
                        </div>
                        <!-- end::Mail's details -->

                        <div class="line m--margin-top-30 m--margin-bottom-30" style="width:100%;height:2px;background-color:rgba(69, 65, 78, 0.08);margin-top:30px;margin-bottom:30px;"></div>

                        <!-- begin::Mail's confirm zone -->
                        <!--<div class="mail__confirm" style="display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;">
                            <button class="btn btn__confirm" style="border: 1px solid #716aca !important;
  background-color: #716aca;
  color: white;">
                                Duy&#7879;t
                            </button>
                            <button class="btn btn__confirm--inline m--margin-left-10" style="border:1px solid #716aca !important;background-color:white;color:#716aca;margin-left:10px;">T&#7915; ch&#7889;i</button>
                        </div>-->
                        <!-- end::Mail's confirm zone -->

                    </div>
                    <!-- end::Mail's body -->
                    <!-- begin::Mail's foot -->
                    <div class="mail__footer" style="min-height: 70px;
    background-color: #716aca;">

                    </div>
                    <!-- end::Mail's foot -->
                </div>
                <!-- end::Mail -->

            </div>
        </div>
    </div>

</body>
</html>