<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#dcf0f8" style="margin:0;padding:0;background-color:#f2f2f2;width:100%!important;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
    <tbody>
      <tr>
        <td align="center" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">


          <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin-top:15px">
            <tbody>
              <tr>
                <td align="center" valign="bottom" id="m_2920037840178421211m_-2271185979358526637headerImage">
                  <table width="100%" cellpadding="0" cellspacing="0" style="border-bottom:3px solid #6eaa27;padding-bottom:10px;background-color:#fff">
                    <tbody>
                      <tr>
                        <td valign="top" bgcolor="#FFFFFF" width="100%" style="padding:0">
                          <div style="color:#f2f2f2;background-color:f2f2f2;font-size:11px">   &nbsp;
                          </div>
                          <a style="border:medium none;text-decoration:none;color:#007ed3;margin:0px 120px 0px 20px" href="#" target="_blank" data-saferedirecturl="">
                            <img src="http://medihub.com.vn/MediHubTheme/images/logo.svg" class="CToWUd" style="height: 50px;" >
                          </a>
                        

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>



              <tr style="background:#fff">
                <td align="left" width="600" height="auto" style="padding:15px">
                  <table>
                    <tbody>
                   
                      <tr>

                        <td>
                          <h1 style="font-size:17px;font-weight:bold;color:#444;padding:0 0 5px 0;margin:0">
                            Kính chào quý khách {4},</h1>

                          <p style="margin:4px 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                            MediHub vừa nhận được đơn hàng #{1} của quý khách đặt ngày {3}. Chúng tôi sẽ gởi báo giá đến quý khách trong thời gian sớm nhất.
                          </p>


                          <h3 style="font-size:13px;font-weight:bold;color:#6eaa27;text-transform:uppercase;margin:20px 0 0 0;border-bottom:1px solid #ddd">
                            Thông tin đơn hàng #{1}
                        
                          </h3>


                        </td>


                      </tr>

                      <tr>
                        <td style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">

                          <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <thead>
                            
                            </thead>
                            <tbody>

                              <tr>
                                <th align="left" width="50%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold">
                                  Tên Doanh nghiệp:
                                </th>
                                <td align="left" width="50%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold">
                                  {0} </td>
                              </tr>
                              <tr>
                                <th align="left" width="50%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold">
                                  Số điện thoại:
                                </th>
                                <td align="left" width="50%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold">
                                  {2} </td>
                              </tr>
                              <tr>
                                <th align="left" width="50%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold">
                                  Thời gian đặt hàng:
                                </th>
                                <td align="left" width="50%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold">
                                  {3} </td>
                              </tr>

                            </tbody>
                          </table>
                        </td>
                      </tr>
                      
                     
                      <tr>
                        <td>
                          <br>
                        

                       
                          <p style="margin:10px 0 0 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                              Trường hợp quý khách có những băn khoăn về đơn hàng, chỉ cần email
                            <a href="mailto:lienhe@medihub.com.vn" style="color:#099202;text-decoration:none" target="_blank">
                                <strong>lienhe@medihub.com.vn</strong>
                            </a>, hoặc gọi số điện thoại
                            <strong style="color:#099202"> (028) 73 099 939</strong> (8-18h cả T7). 
                          </p>

                        </td>
                      </tr>

                      <tr>
                        <td>
                          <br>

                          <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0;line-height:18px;color:#444;font-weight:bold">
                            MediHub trân trọng cảm ơn quý khách.
                            <br>

                          </p>

                          <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal;text-align:right">

                          
                            <br>
                          </p>
                        </td>
                      </tr> 


                    </tbody>
                  </table>
                </td>
              </tr>


            </tbody>

          </table>


        </td>

      </tr>

      <!-- <tr>
        <td align="center">
          <table width="600">
            <tbody>
              <tr>
                <td>
                  <p style="font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:18px;color:#4b8da5;padding:10px 0;margin:0px;font-weight:normal"
                    align="left">
                    Quý khách nhận được email này vì đã mua hàng tại Tiki.vn.
                    <br> Để chắc chắn luôn nhận được email thông báo, xác nhận mua hàng từ Tiki.vn, quý khách vui lòng thêm địa
                    chỉ
                    <strong>
                      <a href="mailto:hotro@tiki.vn" target="_blank">hotro@tiki.vn</a>
                    </strong> vào số địa chỉ (Address Book, Contacts) của hộp email.
                    <br>
                    <b>Văn phòng Tiki.vn:</b>
                    <a href="https://maps.google.com/?q=52+%C3%9At+T%E1%BB%8Bch,+ph%C6%B0%E1%BB%9Dng+4,+qu%E1%BA%ADn+T%C3%A2n+B%C3%ACnh,+th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam&amp;entry=gmail&amp;source=g"
                      target="_blank" data-saferedirecturl="https://www.google.com/url?hl=vi&amp;q=https://maps.google.com/?q%3D52%2B%25C3%259At%2BT%25E1%25BB%258Bch,%2Bph%25C6%25B0%25E1%25BB%259Dng%2B4,%2Bqu%25E1%25BA%25ADn%2BT%25C3%25A2n%2BB%25C3%25ACnh,%2Bth%25C3%25A0nh%2Bph%25E1%25BB%2591%2BH%25E1%25BB%2593%2BCh%25C3%25AD%2BMinh,%2BVi%25E1%25BB%2587t%2BNam%26entry%3Dgmail%26source%3Dg&amp;source=gmail&amp;ust=1521183439214000&amp;usg=AFQjCNGJIwVWZu6jVLVoBg4pkLEfGgRJzA">52 Út Tịch, phường 4, quận Tân Bình, thành phố Hồ Chí Minh, Việt Nam</a>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr> -->
    </tbody>
  </table>
</body>

</html>