<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>

<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#dcf0f8" style="margin:0;padding:0;background-color:#f2f2f2;width:100%!important;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
        <tbody>
            <tr>
                <td align="center" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">


                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin-top:15px">
                        <tbody>
                            <tr>
                                <td align="center" valign="bottom" id="m_2920037840178421211m_-2271185979358526637headerImage">
                                    <table width="100%" cellpadding="0" cellspacing="0" style="border-bottom:3px solid #6eaa27;padding-bottom:10px;background-color:#fff">
                                        <tbody>
                                            <tr>
                                                <td valign="top" bgcolor="#FFFFFF" width="100%" style="padding:0">
                                                    <div style="color:#f2f2f2;background-color:f2f2f2;font-size:11px">
                                                        &nbsp;
                                                    </div>
                                                    <a style="border:medium none;text-decoration:none;color:#007ed3;margin:0px 120px 0px 20px" href="#" target="_blank" data-saferedirecturl="">
                                                        <img src="http://medihub.com.vn/MediHubTheme/images/logo.svg" class="CToWUd" style="height: 50px;" />
                                                    </a>


                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr style="background:#fff">
                                <td align="center" width="600" height="auto" style="padding:15px">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h3 style="font-size:30px;font-weight:bold;color:#6eaa27;text-transform:uppercase;margin:20px 0 0 0;border-bottom:1px solid #ddd">
                                                         ??N XIN NGH? PHÉP

                                                    </h3>

                                                </td>

                                            </tr>

                                        </tbody>

                                    </table>

                                </td>

                            </tr>

                            <tr style="background:#fff">
                                <td align="left" width="600" height="auto" style="padding:15px">
                                    <table>
                                        <tbody>

                                            <tr>

                                                <td>
                                                    <h1 style="font-size:17px;font-weight:bold;color:#444;padding:0 0 5px 0;margin:0">
                                                        Kính g?i Ban giám ??c
                                                    </h1>

                                                </td>


                                            </tr>

                                            <tr>
                                                <td style="margin:10px 0 0 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                    <br />
                                                    Tên tôi là: {1}

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin:10px 0 0 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                    <br />




                                                    Nay tôi làm ??n này ?? xin ngh? phép: {2}ngày (T? ngày: {3}  ??n  ngày: {4})
                                                    <!--(Tr? các ngày ngh? trong tu?n, ngày l?…)-->

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin:10px 0 0 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                    <br />
                                                    T? ngày: {3}  ??n h?t ngày: {4}
                                                    L? do: {5}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin:10px 0 0 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                    <br />
                                                    Tôi s? s?p x?p công vi?c c?a mình tr??c khi ngh? phép ?? không làm ?nh h??ng t?i ti?n ?? công vi?c c?a Công ty.

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="margin:10px 0 0 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                    <br />
                                                    R?t mong Ban Giám ??c Công ty TNHH Truy?n Thông Medihub xem xét và ch?p thu?n.

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <br />

                                                    <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0;line-height:18px;color:#444;font-weight:bold">
                                                        Trân tr?ng.
                                                        <br />

                                                    </p>

                                                    <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal;text-align:right">


                                                        <br />
                                                    </p>
                                                </td>
                                            </tr>

                                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="Margin:0 auto;width: 100%">
                                                <tbody>
                                                    <tr>
                                                        <td align="center">
                                                            <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="200" height="50" align="center" bgcolor="#716aca" style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;">
                                                                            <a href="{6}" style="width:220; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff"
                                                                               class="button_link">
                                                                                Duy?t
                                                                            </a>
                                                                        </td>
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                        <td width="200" height="50" align="center" bgcolor="#716aca" style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;">
                                                                            <a href="{7}" style="width:220; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff"
                                                                               class="button_link">
                                                                                T? ch?i
                                                                            </a>
                                                                        </td>
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                        <td>&nbsp;</td>
                                                                        <!--<td width="200" height="50" align="center" bgcolor="#716aca" style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;">
                                                                            <a href="{7}" style="width:220; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff"
                                                                               class="button_link">
                                                                                In
                                                                            </a>
                                                                        </td>-->
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p style="color:#000000; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif; line-height:22px ">

                                        </tbody>

                    </table>


                </td>

            </tr>

            <!-- <tr>
              <td align="center">
                <table width="600">
                  <tbody>
                    <tr>
                      <td>
                        <p style="font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:18px;color:#4b8da5;padding:10px 0;margin:0px;font-weight:normal"
                          align="left">
                          Qu? khách nh?n ???c email này vì ?ã mua hàng t?i Tiki.vn.
                          <br> ?? ch?c ch?n luôn nh?n ???c email thông báo, xác nh?n mua hàng t? Tiki.vn, qu? khách vui lòng thêm ??a
                          ch?
                          <strong>
                            <a href="mailto:hotro@tiki.vn" target="_blank">hotro@tiki.vn</a>
                          </strong> vào s? ??a ch? (Address Book, Contacts) c?a h?p email.
                          <br>
                          <b>V?n phòng Tiki.vn:</b>
                          <a href="https://maps.google.com/?q=52+%C3%9At+T%E1%BB%8Bch,+ph%C6%B0%E1%BB%9Dng+4,+qu%E1%BA%ADn+T%C3%A2n+B%C3%ACnh,+th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam&amp;entry=gmail&amp;source=g"
                            target="_blank" data-saferedirecturl="https://www.google.com/url?hl=vi&amp;q=https://maps.google.com/?q%3D52%2B%25C3%259At%2BT%25E1%25BB%258Bch,%2Bph%25C6%25B0%25E1%25BB%259Dng%2B4,%2Bqu%25E1%25BA%25ADn%2BT%25C3%25A2n%2BB%25C3%25ACnh,%2Bth%25C3%25A0nh%2Bph%25E1%25BB%2591%2BH%25E1%25BB%2593%2BCh%25C3%25AD%2BMinh,%2BVi%25E1%25BB%2587t%2BNam%26entry%3Dgmail%26source%3Dg&amp;source=gmail&amp;ust=1521183439214000&amp;usg=AFQjCNGJIwVWZu6jVLVoBg4pkLEfGgRJzA">52 Út T?ch, ph??ng 4, qu?n Tân Bình, thành ph? H? Chí Minh, Vi?t Nam</a>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr> -->
        </tbody>
    </table>
</body>

</html>