
@{
    ViewData["Title"] = "Demo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-4">
                    <!--begin:: Widgets/Stats2-1 -->
                    <div class="m-widget1">
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Today
                                    </h3>
                                    <span class="m-widget1__desc">

                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">
                                        150
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Satisfied
                                    </h3>
                                    <span class="m-widget1__desc">

                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        120
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Not Satisfied
                                    </h3>
                                    <span class="m-widget1__desc">

                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-danger">
                                        30
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Stats2-1 -->
                </div>
                <div class="col-xl-4">
                    <!--begin:: Widgets/Stats2-1 -->
                    <div class="m-widget1">
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        MTD
                                    </h3>
                                    <span class="m-widget1__desc">

                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-brand">
                                        2050
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Satisfied
                                    </h3>
                                    <span class="m-widget1__desc">

                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        1900
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Not Satisfied
                                    </h3>
                                    <span class="m-widget1__desc">
                                        System bugs and issues
                                    </span>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-danger">
                                        150
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Stats2-1 -->
                </div>
                <div class="col-xl-4">
                    <div class="m-widget14">
                        <div class="m-widget14__header">
                            <h3 class="m-widget14__title">
                                Performance by region

                            </h3>
                            <span class="m-widget14__desc">
                                The number of pharmacy
                            </span>
                        </div>
                        <div class="row  align-items-center">
                            <div class="col">
                                <div id="m_chart_revenue_change_1" class="m-widget14__chart1" style="height: 180px">
                                    <svg height="150" version="1.1" width="152" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#c4c5d6" d="M76,118.33333333333334A43.333333333333336,43.333333333333336,0,0,0,117.21160759332366,88.39332585102319" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#c4c5d6" stroke="#ffffff" d="M76,121.33333333333334A46.333333333333336,46.333333333333336,0,0,0,120.06471888824606,89.32055610224788L133.06222589844813,93.54460502449366A60,60,0,0,1,76,135Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#5867dd" d="M117.21160759332366,88.39332585102319A43.333333333333336,43.333333333333336,0,0,0,37.71382013830621,54.70354194999011" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#5867dd" stroke="#ffffff" d="M120.06471888824606,89.32055610224788A46.333333333333336,46.333333333333336,0,0,0,35.06323845557357,53.29840254652789L18.57073020745932,44.55531292498517A65,65,0,0,1,137.81741138998547,95.0899887765348Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#36a3f7" d="M37.71382013830621,54.70354194999011A43.333333333333336,43.333333333333336,0,0,0,32.82970871394752,71.24450694912647" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#36a3f7" stroke="#ffffff" d="M35.06323845557357,53.29840254652789A46.333333333333336,46.333333333333336,0,0,0,29.840996240297734,70.9845112763737L16.22575052700426,69.80008654494436A60,60,0,0,1,22.988366345347067,46.89721193075554Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#ffb822" d="M32.82970871394752,71.24450694912647A43.333333333333336,43.333333333333336,0,0,0,40.21602440409549,99.4394121927981" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#ffb822" stroke="#ffffff" d="M29.840996240297734,70.9845112763737A46.333333333333336,46.333333333333336,0,0,0,37.738672247455945,101.13137149845335L26.45295686720914,108.83918611310506A60,60,0,0,1,16.22575052700426,69.80008654494436Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#00c5dc" d="M40.21602440409549,99.4394121927981A43.333333333333336,43.333333333333336,0,0,0,75.98638643205834,118.33333119491907" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#00c5dc" stroke="#ffffff" d="M37.738672247455945,101.13137149845335A46.333333333333336,46.333333333333336,0,0,0,75.98544395427777,121.333331046875L75.98115044438848,134.9999970391187A60,60,0,0,1,26.45295686720914,108.83918611310506Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="76" y="65" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 800 15px Arial;" font-size="15px" font-weight="800" transform="matrix(0.8917,0,0,0.8917,8.2255,7.9566)" stroke-width="1.1213942307692306"><tspan dy="5.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Ho Chi Minh</tspan></text><text x="76" y="85" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 14px Arial;" font-size="14px" transform="matrix(0.9028,0,0,0.9028,7.3874,7.4861)" stroke-width="1.1076923076923078"><tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">50</tspan></text></svg>
                                </div>
                            </div>
                            <div class="col">
                                <div class="m-widget14__legends">
                                    <div class="m-widget14__legend">
                                        <span class="m-widget14__legend-bullet m--bg-metal"></span>
                                        <span class="m-widget14__legend-text">
                                            Ha Noi
                                        </span>
                                    </div>


                                    <div class="m-widget14__legend">
                                        <span class="m-widget14__legend-bullet m--bg-warning"></span>
                                        <span class="m-widget14__legend-text">
                                            North
                                        </span>
                                    </div>
                                    <div class="m-widget14__legend">
                                        <span class="m-widget14__legend-bullet m--bg-accent"></span>
                                        <span class="m-widget14__legend-text">
                                            Central
                                        </span>
                                    </div>
                                    <div class="m-widget14__legend">
                                        <span class="m-widget14__legend-bullet m--bg-primary"></span>
                                        <span class="m-widget14__legend-text">
                                            Ho Chi Minh
                                        </span>
                                    </div>
                                    <div class="m-widget14__legend">
                                        <span class="m-widget14__legend-bullet m--bg-success"></span>
                                        <span class="m-widget14__legend-text">
                                            South
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Display1
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                        <table class="m-datatable__table" id="html_table" width="100%" style="display: block; min-height: 300px; ">
                            <thead class="m-datatable__head">
                                <tr class="m-datatable__row">
                                    <th title="Field #1" class="m-datatable__cell m-datatable__cell--sort" data-field="Order ID"><span style="width: 110px;">Rank</span></th>
                                    <th title="Field #2" class="m-datatable__cell m-datatable__cell--sort" data-field="Owner"><span style="width: 110px;">Region</span></th>
                                    <th title="Field #3" class="m-datatable__cell m-datatable__cell--sort" data-field="Contact"><span style="width: 110px;">Satisfied</span></th>
                                    <th title="Field #4" class="m-datatable__cell m-datatable__cell--sort" data-field="Car Make"><span style="width: 110px;">UnSatisfied</span></th>

                                </tr>
                            </thead>
                            <tbody class="m-datatable__body" style="">
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            1
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            Ho Chi Minh
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            800
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            143
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            2
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            Ha Noi
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            350
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            107
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            3
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            Central
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            400
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            156
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            4
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            South
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            250
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            16
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            5
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            North
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            69
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            0
                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Display2
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                        <table class="m-datatable__table" id="html_table" width="100%" style="display: block; min-height: 300px; ">
                            <thead class="m-datatable__head">
                                <tr class="m-datatable__row">
                                    <th title="Field #1" class="m-datatable__cell m-datatable__cell--sort" data-field="Order ID"><span style="width: 110px;">Rank</span></th>
                                    <th title="Field #2" class="m-datatable__cell m-datatable__cell--sort" data-field="Owner"><span style="width: 110px;">Region</span></th>
                                    <th title="Field #3" class="m-datatable__cell m-datatable__cell--sort" data-field="Contact"><span style="width: 110px;">Satisfied</span></th>
                                    <th title="Field #4" class="m-datatable__cell m-datatable__cell--sort" data-field="Car Make"><span style="width: 110px;">UnSatisfied</span></th>

                                </tr>
                            </thead>
                            <tbody class="m-datatable__body" style="">
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            1
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            Ho Chi Minh
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            800
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            160
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            2
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            Ha Noi
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            350
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            100
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            3
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            Central
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            400
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            80
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            4
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            South
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            250
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            16
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            5
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            North
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            69
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            5
                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Display3
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                        <table class="m-datatable__table" id="html_table" width="100%" style="display: block; min-height: 300px; ">
                            <thead class="m-datatable__head">
                                <tr class="m-datatable__row">
                                    <th title="Field #1" class="m-datatable__cell m-datatable__cell--sort" data-field="Order ID"><span style="width: 110px;">Rank</span></th>
                                    <th title="Field #2" class="m-datatable__cell m-datatable__cell--sort" data-field="Owner"><span style="width: 110px;">Region</span></th>
                                    <th title="Field #3" class="m-datatable__cell m-datatable__cell--sort" data-field="Contact"><span style="width: 110px;">Satisfied</span></th>
                                    <th title="Field #4" class="m-datatable__cell m-datatable__cell--sort" data-field="Car Make"><span style="width: 110px;">UnSatisfied</span></th>

                                </tr>
                            </thead>
                            <tbody class="m-datatable__body" style="">
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            1
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            Ho Chi Minh
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            800
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            100
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            2
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            Ha Noi
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            350
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            100
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            3
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            Central
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            400
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            156
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            4
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            South
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            250
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            17
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            5
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            North
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            69
                                        </span>
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 110px;">
                                            10
                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Reason for Audit Dissatisfaction of Display1
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                        <table class="m-datatable__table" id="html_table" width="100%" style="display: block; min-height: 300px; ">
                            <thead class="m-datatable__head">
                                <tr class="m-datatable__row">
                                    <th style="width: 50px" title="Field #1" class="m-datatable__cell m-datatable__cell--sort" data-field="Order ID"><span>Rank</span></th>
                                    <th style="width: 100px" title="Field #2" class="m-datatable__cell m-datatable__cell--sort" data-field="Owner"><span>Criteria</span></th>
                                    <th style="width: 70px" title="Field #3" class="m-datatable__cell m-datatable__cell--sort" data-field="Contact"><span class="text-center">Percentage <br />(%)</span></th>
                                    <th style="width: 50px" title="Field #4" class="m-datatable__cell m-datatable__cell--sort" data-field="Car Make"><span class="text-center">Frequency<br />(times)</span></th>
                                </tr>
                            </thead>
                            <tbody class="m-datatable__body" style="">
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            1
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> Total</span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>

                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            422
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            2
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> Main-shelf </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 10%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        10%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            43
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            3
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> Eye-level </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 23%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        23%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            100
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            4
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> Shopper’s “eyeball” area </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 13%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        3%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            50
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            5
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> # Brand blocks </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 36%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        36%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            150
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            6
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> # Facing </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 19%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        19%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            79
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            7
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> Have yellow Window frame </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 0%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        0%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            0
                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Reason for Audit Dissatisfaction of Display2
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                        <table class="m-datatable__table" id="html_table" width="100%" style="display: block; min-height: 300px; ">
                            <thead class="m-datatable__head">
                                <tr class="m-datatable__row">
                                    <th style="width: 50px" title="Field #1" class="m-datatable__cell m-datatable__cell--sort" data-field="Order ID"><span>Rank</span></th>
                                    <th style="width: 100px" title="Field #2" class="m-datatable__cell m-datatable__cell--sort" data-field="Owner"><span>Criteria</span></th>
                                    <th style="width: 70px" title="Field #3" class="m-datatable__cell m-datatable__cell--sort" data-field="Contact"><span class="text-center">Percentage <br />(%)</span></th>
                                    <th style="width: 50px" title="Field #4" class="m-datatable__cell m-datatable__cell--sort" data-field="Car Make"><span class="text-center">Frequency<br />(times)</span></th>

                                </tr>
                            </thead>
                            <tbody class="m-datatable__body" style="">
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            1
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> Total</span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>

                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            361
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            2
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> Main-shelf </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 14%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        14%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            50
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            3
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> Eye-level </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 6%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        6%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            20
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            4
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> Shopper’s “eyeball” area </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 22%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        22%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            80
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            5
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> # Brand blocks </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 42%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        42%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            150
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            6
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> # Facing </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 8%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        8%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            30
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            7
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> Have yellow Window frame </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 9%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        9%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            31
                                        </span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Reason for Audit Dissatisfaction of Display3
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                        <table class="m-datatable__table" id="html_table" width="100%" style="display: block; min-height: 300px; ">
                            <thead class="m-datatable__head">
                                <tr class="m-datatable__row">
                                    <th style="width: 50px" title="Field #1" class="m-datatable__cell m-datatable__cell--sort" data-field="Order ID"><span>Rank</span></th>
                                    <th style="width: 100px" title="Field #2" class="m-datatable__cell m-datatable__cell--sort" data-field="Owner"><span>Criteria</span></th>
                                    <th style="width: 70px" title="Field #3" class="m-datatable__cell m-datatable__cell--sort" data-field="Contact"><span>Percentage</span></th>
                                    <th style="width: 50px" title="Field #4" class="m-datatable__cell m-datatable__cell--sort" data-field="Car Make"><span>Frequency<br />(times)</span></th>

                                </tr>
                            </thead>
                            <tbody class="m-datatable__body" style="">
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            1
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> Total</span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>

                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            383
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            2
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> Eye-catching </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 22%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        22%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            83
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            3
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px"> # of brands </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 26%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        26%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            100
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            4
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px">
                                            # of poster
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 26%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        26%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            100
                                        </span>
                                    </td>

                                </tr>
                                <tr data-row="0" class="m-datatable__row">
                                    <td data-field="Order ID" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            5
                                        </span>
                                    </td>
                                    <td data-field="Owner" class="m-datatable__cell pl-0 pr-0">
                                        <span style="width: 100px">
                                            Phosphalugel
                                        </span>
                                    </td>
                                    <td data-field="Contact" class="m-datatable__cell">

                                        <div class="progress m-progress--sm" style="width: 70px">
                                            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 26%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="78"></div>
                                        </div>
                                        26%
                                    </td>
                                    <td data-field="Car Make" class="m-datatable__cell">
                                        <span style="width: 50px">
                                            100
                                        </span>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Pie Chart 1
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_8" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" width="440" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 440.406px; height: 300px;"></canvas><canvas class="flot-overlay" width="440" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 440.406px; height: 300px;"></canvas><div class="legend"><div style="position: absolute; width: 60px; height: 95px; top: 5px; right: 5px; background-color: rgb(255, 255, 255); opacity: 0.85;"> </div><table style="position:absolute;top:5px;right:5px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(237,194,64);overflow:hidden"></div></div></td><td class="legendLabel">Series1</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(175,216,248);overflow:hidden"></div></div></td><td class="legendLabel">Series2</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(203,75,75);overflow:hidden"></div></div></td><td class="legendLabel">Series3</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(77,167,77);overflow:hidden"></div></div></td><td class="legendLabel">Series4</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(148,64,237);overflow:hidden"></div></div></td><td class="legendLabel">Series5</td></tr></tbody></table></div></div>
                </div>
            </div>
            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Pie Chart 3
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_9" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" width="440" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 440.406px; height: 300px;"></canvas><canvas class="flot-overlay" width="440" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 440.406px; height: 300px;"></canvas><span class="pieLabel" id="pieLabel0" style="position: absolute; top: 7px; left: 252.312px;"><div style="font-size:x-small;text-align:center;padding:2px;color:rgb(237,194,64);">Series1<br>12%</div></span><span class="pieLabel" id="pieLabel1" style="position: absolute; top: 41px; left: 300.828px;"><div style="font-size:x-small;text-align:center;padding:2px;color:rgb(175,216,248);">Series2<br>2%</div></span><span class="pieLabel" id="pieLabel2" style="position: absolute; top: 120px; left: 335.734px;"><div style="font-size:x-small;text-align:center;padding:2px;color:rgb(203,75,75);">Series3<br>18%</div></span><span class="pieLabel" id="pieLabel3" style="position: absolute; top: 208px; left: 313.625px;"><div style="font-size:x-small;text-align:center;padding:2px;color:rgb(77,167,77);">Series4<br>3%</div></span><span class="pieLabel" id="pieLabel4" style="position: absolute; top: 265px; left: 172.617px;"><div style="font-size:x-small;text-align:center;padding:2px;color:rgb(148,64,237);">Series5<br>35%</div></span><span class="pieLabel" id="pieLabel5" style="position: absolute; top: 51px; left: 92.5624px;"><div style="font-size:x-small;text-align:center;padding:2px;color:rgb(189,155,51);">Series6<br>29%</div></span></div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Pie Chart 2
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_10" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" width="440" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 440.406px; height: 300px;"></canvas><canvas class="flot-overlay" width="440" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 440.406px; height: 300px;"></canvas><div class="pieLabelBackground" style="position: absolute; width: 37.875px; height: 34px; top: 62px; left: 324.265px; background-color: rgb(237, 194, 64); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel0" style="position: absolute; top: 62px; left: 324.265px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series1<br>33%</div></span><div class="pieLabelBackground" style="position: absolute; width: 41.0469px; height: 34px; top: 266px; left: 249.68px; background-color: rgb(175, 216, 248); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel1" style="position: absolute; top: 266px; left: 249.68px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series2<br>22%</div></span><div class="pieLabelBackground" style="position: absolute; width: 41.25px; height: 34px; top: 219px; left: 86.578px; background-color: rgb(203, 75, 75); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel2" style="position: absolute; top: 219px; left: 86.578px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series3<br>19%</div></span><div class="pieLabelBackground" style="position: absolute; width: 41.4844px; height: 34px; top: 122px; left: 57.4608px; background-color: rgb(77, 167, 77); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel3" style="position: absolute; top: 122px; left: 57.4608px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series4<br>4%</div></span><div class="pieLabelBackground" style="position: absolute; width: 41.5px; height: 34px; top: 22px; left: 110.453px; background-color: rgb(148, 64, 237); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel4" style="position: absolute; top: 22px; left: 110.453px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series5<br>22%</div></span></div>
                </div>
            </div>
            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Pie Chart 4
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <p>
                        Slightly more transparent label backgrounds and adjusted the radius values to place them within the pie.
                    </p>
                    <div id="m_flotcharts_11" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" width="440" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 440.406px; height: 300px;"></canvas><canvas class="flot-overlay" width="440" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 440.406px; height: 300px;"></canvas><div class="pieLabelBackground" style="position: absolute; width: 37.875px; height: 34px; top: 3px; left: 238.265px; background-color: rgb(237, 194, 64); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel0" style="position: absolute; top: 3px; left: 238.265px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series1<br>9%</div></span><div class="pieLabelBackground" style="position: absolute; width: 41.0469px; height: 34px; top: 61px; left: 314.68px; background-color: rgb(175, 216, 248); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel1" style="position: absolute; top: 61px; left: 314.68px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series2<br>14%</div></span><div class="pieLabelBackground" style="position: absolute; width: 41.25px; height: 34px; top: 160px; left: 332.578px; background-color: rgb(203, 75, 75); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel2" style="position: absolute; top: 160px; left: 332.578px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series3<br>10%</div></span><div class="pieLabelBackground" style="position: absolute; width: 41.4844px; height: 34px; top: 246px; left: 273.461px; background-color: rgb(77, 167, 77); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel3" style="position: absolute; top: 246px; left: 273.461px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series4<br>15%</div></span><div class="pieLabelBackground" style="position: absolute; width: 41.5px; height: 34px; top: 259px; left: 149.453px; background-color: rgb(148, 64, 237); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel4" style="position: absolute; top: 259px; left: 149.453px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series5<br>15%</div></span><div class="pieLabelBackground" style="position: absolute; width: 41.6094px; height: 34px; top: 168px; left: 68.3983px; background-color: rgb(189, 155, 51); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel5" style="position: absolute; top: 168px; left: 68.3983px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series6<br>14%</div></span><div class="pieLabelBackground" style="position: absolute; width: 40.3906px; height: 34px; top: 85px; left: 73.0077px; background-color: rgb(140, 172, 198); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel6" style="position: absolute; top: 85px; left: 73.0077px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series7<br>5%</div></span><div class="pieLabelBackground" style="position: absolute; width: 41.6094px; height: 34px; top: 58px; left: 86.3983px; background-color: rgb(162, 60, 60); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel7" style="position: absolute; top: 58px; left: 86.3983px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series8<br>2%</div></span><div class="pieLabelBackground" style="position: absolute; width: 41.5156px; height: 34px; top: 12px; left: 138.445px; background-color: rgb(61, 133, 61); opacity: 0.8;"></div><span class="pieLabel" id="pieLabel8" style="position: absolute; top: 12px; left: 138.445px;"><div style="font-size:8pt;text-align:center;padding:2px;color:white;">Series9<br>15%</div></span></div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
@*@section Scripts {
    <script src="~/assets/demo/default/custom/components/charts/flot.bundle.js"></script>
    <script src="~/assets/demo/default/custom/components/charts/flotcharts.js"></script>
}*@
