
@{
    ViewData["Title"] = "ErpModule";
    Layout = "~/Views/Shared/_LayoutMainLPEng.cshtml";
}
@Html.Partial("_LayoutBaner")
<section class="section about-us" id="about-us">
    <div class="section__headline">
        <h3 class="section__headline-title">
            About Us
        </h3>
    </div>
    <div class="section__content">
        <div class="container">
            <p class="about-us__title">
                RETAIL POINT OF SALE PRODUCTION EXPERTS
            </p>
            <p class="about-us__description">
                Founded in 2012, Lien Phat is a reliable partner for many prestigious brands, providing retail production and posmarketing services to many Multinational companies & Local corporations in different industries but mainly in Healthcare, Foods, Stationary & FMCG...
            </p>
            <div class="about-us__items mt-5">
                <div class="about-us__item">
                    <div class="about-us__wrap-icon">
                        <svg class="about-us__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-building"></use>
                        </svg>
                    </div>
                    <p class="about-us__item-description">
                        Across countries in Vietnam; we specialise in posmarketing Design and Production, Event & Exhibition Production, Retail Décor, Activation, POSM Audit, Direct Sales.
                    </p>
                </div>
                <div class="about-us__item">
                    <div class="about-us__wrap-icon">
                        <svg class="about-us__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-flag"></use>
                        </svg>
                    </div>
                    <p class="about-us__item-description">
                        More than 100 enthusiastic, motivated, and dynamic experienced staffs implementing many merchandising projects nationwide in both MT & GT channel.
                    </p>
                </div>
                <div class="about-us__item">
                    <div class="about-us__wrap-icon">
                        <svg class="about-us__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-global"></use>
                        </svg>
                    </div>
                    <p class="about-us__item-description">
                        1000m2 Production workshop with 03 brands in Can Tho, Da Nang, Ha Noi and strategic production partners nationwide.
                    </p>
                </div>
                @*<div class="about-us__item">
                        <div class="about-us__wrap-icon">
                            <svg class="about-us__icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use>
                            </svg>
                        </div>
                        <p class="about-us__item-description">
                            Strong in Government relationships related to Healthcare & Advertising administration and ability for
                            problem solving if any.

                        </p>
                    </div>*@
            </div>
        </div>
    </div>
</section>

<section class="section section--services services" id="our-services">
    <div class="section__headline">
        <h3 class="section__headline-title">
            Our Services
        </h3>
    </div>
    <div class="section__content">

        <div class="portfolio">
            <div class="portfolio__controls">
                <button class="portfolio__control portfolio__control--active" data-category="*" data-cap="">All</button>
                <button class="portfolio__control" data-category="productionAtOutlet" data-cap="GT Merchandising (Poster, shelf display, canopy, hanger, standee...)">POSM Design and Production</button>
                <button class="portfolio__control" data-category="indoor" data-cap="MT Merchandising (showroom, counter, booth,, mock-up, shelftalker…)">Retail Merchandising and Decor</button>

                <button class="portfolio__control" data-category="machinery" data-cap="Booth production and installation, conference and event organization">Production for Event, Activation & Exhibition</button>
                <button class="portfolio__control" data-category="printing" data-cap="Printing on all materials PP, Decal, silk fabrics, canvas, Mica ... ">Printing (poster, banner, brochure, leaflet...)</button>
                <button class="portfolio__control" data-category="all" data-cap="Rental of ad position, retail décor, ad licensing, ad display on large media channels in hospitals and pharmacies nationwide, all in one place">Brand communication marketing</button>
            </div>

            <div class="portfolio__items">
                <div class="portfolio__item" data-category="all">
                    <img src="~/LienPhat/assets/img/portfolio/Service/all/all10.jpg" alt="Production services for Point-Of-Sales including GT & MT channel" />

                </div>
                <div class="portfolio__item" data-category="all">
                    <img src="~/LienPhat/assets/img/portfolio/Service/all/all2.png" alt="Production services for Point-Of-Sales including GT & MT channel" />

                </div>
                <div class="portfolio__item" data-category="all">
                    <img src="~/LienPhat/assets/img/portfolio/Service/all/all3.jpg" alt="Production services for Point-Of-Sales including GT & MT channel" />

                </div>
                <div class="portfolio__item" data-category="all">
                    <img src="~/LienPhat/assets/img/portfolio/Service/all/all4.jpg" alt="Production services for Point-Of-Sales including GT & MT channel" />

                </div>
                <div class="portfolio__item" data-category="all">
                    <img src="~/LienPhat/assets/img/portfolio/Service/all/all5.jpg" alt="Production services for Point-Of-Sales including GT & MT channel" />

                </div>
                <div class="portfolio__item" data-category="all">
                    <img src="~/LienPhat/assets/img/portfolio/Service/all/all6.jpg" alt="Production services for Point-Of-Sales including GT & MT channel" />

                </div>



                <div class="portfolio__item" data-category="productionAtOutlet">
                    <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx1.jpg" alt="Production services for Point-Of-Sales including GT & MT channel" />

                </div>
                <div class="portfolio__item" data-category="productionAtOutlet">
                    <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx3.jpg" alt="Production services for Point-Of-Sales including GT & MT channel" />

                </div>
                <div class="portfolio__item" data-category="productionAtOutlet">
                    <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx7.jpg" alt="Production services for Point-Of-Sales including GT & MT channel" />

                </div>
                <div class="portfolio__item" data-category="productionAtOutlet">
                    <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx12.jpg" alt="Production services for Point-Of-Sales including GT & MT channel" />

                </div>
                <div class="portfolio__item" data-category="productionAtOutlet">
                    <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx11.png" alt="Production services for Point-Of-Sales including GT & MT channel" />

                </div>
                <div class="portfolio__item" data-category="productionAtOutlet">
                    <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx9.png" alt="Production services for Point-Of-Sales including GT & MT channel" />

                </div>


                <div class="portfolio__item" data-category="indoor">
                    <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id1.jpg" alt="Manufacture of cabinet, display shelves in retail systems" />

                </div>
                <div class="portfolio__item" data-category="indoor">
                    <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id2.jpg" alt="Manufacture of cabinet, display shelves in retail systems" />

                </div>
                <div class="portfolio__item" data-category="indoor">
                    <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id5.jpg" alt="Manufacture of cabinet, display shelves in retail systems" />

                </div>
                <div class="portfolio__item" data-category="indoor">
                    <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id6.jpg" alt="Manufacture of cabinet, display shelves in retail systems" />

                </div>
                <div class="portfolio__item" data-category="indoor">
                    <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id7.jpg" alt="Manufacture of cabinet, display shelves in retail systems" />

                </div>

                <div class="portfolio__item" data-category="indoor">
                    <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id9.jpg" alt="Manufacture of cabinet, display shelves in retail systems" />

                </div>
                <div class="portfolio__item" data-category="machinery">
                    <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d1.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc" />

                </div>
                <div class="portfolio__item" data-category="machinery">
                    <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d2.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc" />

                </div>
                <div class="portfolio__item" data-category="machinery">
                    <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d3.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc" />

                </div>
                <div class="portfolio__item" data-category="machinery">
                    <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d4.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc" />

                </div>

                <div class="portfolio__item" data-category="machinery">
                    <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d14.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc">
                </div>
                <div class="portfolio__item" data-category="machinery">
                    <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d15.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc">
                </div>
                <div class="portfolio__item" data-category="machinery">
                    <img src="~/LienPhat/assets/img/portfolio/Service/mer/mer1.jpg" alt="Production - installation of booths, conferences, events ... etc">
                </div>
                <div class="portfolio__item" data-category="machinery">
                    <img src="~/LienPhat/assets/img/portfolio/Service/mer/mer2.jpg" alt="Production - installation of booths, conferences, events ... etc">
                </div>
                <div class="portfolio__item" data-category="machinery">
                    <img src="~/LienPhat/assets/img/portfolio/Service/mer/mer3.jpg" alt="Production - installation of booths, conferences, events ... etc">
                </div>

                <div class="portfolio__item" data-category="machinery">
                    <img src="~/LienPhat/assets/img/portfolio/Service/mer/mer4.jpg" alt="Production - installation of booths, conferences, events ... etc">
                </div>
                <div class="portfolio__item" data-category="machinery">
                    <img src="~/LienPhat/assets/img/portfolio/Service/mer/mer6.jpg" alt="Production - installation of booths, conferences, events ... etc">
                </div>

                <div class="portfolio__item" data-category="machinery">
                    <img src="~/LienPhat/assets/img/portfolio/Service/mer/mer7.jpg" alt="Production - installation of booths, conferences, events ... etc">
                </div>

                <div class="portfolio__item" data-category="printing">
                    <img src="~/LienPhat/assets/img/portfolio/Service/print/pri1.jpg" alt="Print advertising on all materials PP, Decal, silk fabrics, canvas Hiflex, mica ... ect">
                </div>
                <div class="portfolio__item" data-category="printing">
                    <img src="~/LienPhat/assets/img/portfolio/Service/print/pri2.jpg" alt="Print advertising on all materials PP, Decal, silk fabrics, canvas Hiflex, mica ... ect">
                </div>
                <div class="portfolio__item" data-category="printing">
                    <img src="~/LienPhat/assets/img/portfolio/Service/print/pri3.jpg" alt="Print advertising on all materials PP, Decal, silk fabrics, canvas Hiflex, mica ... ect">
                </div>
                <div class="portfolio__item" data-category="printing">
                    <img src="~/LienPhat/assets/img/portfolio/Service/print/pri4.jpeg" alt="Print advertising on all materials PP, Decal, silk fabrics, canvas Hiflex, mica ... ect">
                </div>
                <div class="portfolio__item" data-category="printing">
                    <img src="~/LienPhat/assets/img/portfolio/Service/print/pri5.jpg" alt="Print advertising on all materials PP, Decal, silk fabrics, canvas Hiflex, mica ... ect">
                </div>
                <div class="portfolio__item" data-category="printing">
                    <img src="~/LienPhat/assets/img/portfolio/Service/print/pri6.jpg" alt="Print advertising on all materials PP, Decal, silk fabrics, canvas Hiflex, mica ... ect">
                </div>
            </div>

            <div class="portfolio__caption">
                <div class="portfolio__caption--text"></div>
            </div>

            <div class="text-center mt-5">
                <a class="btn btn-warning btn-lg" href="/Eng/Service">
                    Get in touch
                </a>
            </div>
        </div>
</section>

<section class="section team" id="team">
    <div class="section__headline">
        <h3 class="section__headline-title">
            Our Team
        </h3>
    </div>

    <div class="section__content">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-6 nember--single">
                            <div class="nember">
                                <div class="nember__avatar">
                                    <div class="nember__wrap-img" style="padding-top: 0">
                                        <img class="img-fluid" src="https://cdn2.medihub.vn/ImagesUpload/2018/10/24/eb0de22f-b39d-4584-afa0-9a76b6ea258b_mrHung.png" alt="Alternate Text" />
                                    </div>
                                </div>
                                <div class="nember__info">
                                    <p class="nember__name">Nguyen Tien Hung</p>
                                    <p class="nember__position">
                                        Managing Director
                                    </p>
                                    <p class="nember__description">
                                        With over 20 years’ experience of delivering successful retail Point of sales production service for happy clients with innovative new products and superior quality. He has a proven track record of leading and developing successful teams, whilst still having an active hands-on role in developing new business and become realiable trustworthy partners when it comes to Retail Point of Sales.
                                    </p>
                                    <ul class="nember__socials">
                                        <li class="nember__social">
                                            <a href="#" class="nember__social-link">
                                                <i class="fab fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="nember__social">
                                            <a href="#" class="nember__social-link">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </li>
                                        <li class="nember__social">
                                            <a href="#" class="nember__social-link">
                                                <i class="fas fa-phone"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 nember--group">
                            <div class="nember">
                                <div style="max-height: 276px; overflow: hidden;">
                                    <img class="img-fluid" src="https://cdn2.medihub.vn/image/555/w/ImagesUpload/2018/10/19/435e7a2d-ac7b-43cf-9d85-c5109bf0c9aa_COVER.jpg" alt="Alternate Text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 nember--group">
                            <div class="nember">
                                <div style="max-height: 309px; overflow: hidden;">
                                    <img class="img-fluid" src="https://cdn2.medihub.vn/image/555/w/ImagesUpload/2018/10/19/5ab3a53c-a21f-49e1-a6b6-26384de879e3_LIENPHAT2.jpg" alt="Alternate Text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 nember--single">
                            <div class="nember nember--reverse">
                                <div class="nember__avatar" style="">
                                    <div class="nember__wrap-img pt-0">
                                        <img class="img-fluid" src="https://cdn2.medihub.vn/ImagesUpload/2018/10/19/5f66f462-a198-4e7e-ab0f-809cf1d82199_mr-thoi.png" alt="Alternate Text" />
                                    </div>
                                </div>
                                <div class="nember__info">
                                    <p class="nember__name">
                                        Nguyen Van Thoi
                                    </p>
                                    <p class="nember__position">Sales Manager</p>
                                    <p class="nember__description">
                                        Thoi has been working within the retail sector since 2008. Developing POSM Creative concepts and solutions that strengthen a brands’ market position whilst maximising ROI, Thoi combines his in depth understanding of the retail sector and experience on Retail merchandising develop successful teams to implement Event & Exhibition Production.
                                    </p>
                                    <ul class="nember__socials">
                                        <li class="nember__social">
                                            <a href="#" class="nember__social-link">
                                                <i class="fab fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="nember__social">
                                            <a href="#" class="nember__social-link">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </li>
                                        <li class="nember__social">
                                            <a href="#" class="nember__social-link">
                                                <i class="fas fa-phone"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--contact contact" id="contact">
    <div class="section__content">
        <div class="contact">

            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <div class="contact__info">
                            <h3 class="contact__title">
                                Contact
                            </h3>
                            <p class="contact__description">
                                We’s love to share with you what we’ve up to each month and experience on our retail point of sales production services. We will never share your details with anyone outside. If you’re happy to hear from us please let us know!
                            </p>

                            <ul class="contact__addresses">
                                <li class="contact__address">
                                    Email: hung.nguyentien@lienphatad.com.vn
                                </li>
                                <li class="contact__address">
                                    Mr. Hung - Managing Director: 0938.685.869
                                </li>
                                <li class="contact__address">
                                    Email: thoi.nguyenvan@lienphatad.com.vn
                                </li>
                                <li class="contact__address">
                                    Mr. Thoi - Sales Manager: 093.8468.719
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3 class="contact__title">
                            Subscribe
                        </h3>
                        <form id="contact-form">
                            <div class="contact__form">
                                <div class="contact__form-row js-contact-validate">
                                    <label for="name" class="contact__label">Name</label>
                                    <input type="text" name="Name" placeholder="" class="contact__input">
                                    <div class="contact__form-validate d-none"></div>
                                </div>
                                <div class="contact__form-row js-contact-validate">
                                    <label for="phone" class="contact__label">Phone number</label>
                                    <input type="tel" name="Phone" placeholder="" class="contact__input">
                                    <div class="contact__form-validate d-none"></div>
                                </div>
                                <div class="contact__form-row js-contact-validate">
                                    <label for="email" class="contact__label">Email address</label>
                                    <input type="email" name="Email" placeholder="" class="contact__input">
                                    <div class="contact__form-validate d-none"></div>
                                </div>
                                <div class="contact__form-row">
                                    <label for="message" class="contact__label">Your request</label>
                                    <textarea name="Message" id="" cols="30" rows="4" class="contact__input" placeholder="Please enter the content"></textarea>
                                </div>

                                <button type="submit" id="contact-submit" class="btn btn--primary">Get in touch</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section clients" id="clients">
    <div class="section__headline">
        <h3 class="section__headline-title">
            Clients
        </h3>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="clients js-client-glide">
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/bayer.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/brands.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/VINAMILK.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/dksh.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/glaxo.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/gohnson.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/NHAT NHAT.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/idp.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/phzer.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/sanofi.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/suzuki.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/thienlong.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/thp.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/united.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/unza.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/wester.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/AJ.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/AJNOMOTO.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/BRANDMAX.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/BV HUNG VUONG.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/BV UNG BUU.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/DANAPHA.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/FABICO.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/FAHASHA.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/mundipharma.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/MENARINI.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/PNC.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/phano.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/stada.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/suzuki.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/Untitled-1.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/VIETCREDIT.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    var error = '';

    window.addEventListener('load', () => {

      if (document.getElementById('contact-form').length) {

        document.getElementById('contact-submit').addEventListener('click', function (e) {
          e.preventDefault();
          e.stopPropagation();
          validate();
        })

      }

    });

    // check email
    function isEmail(email) {
      var emailFormat = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return emailFormat.test(email);
    }

    // new validate
    function validate() {

      var validateItems = document.querySelectorAll('.js-contact-validate');
      validateItems.forEach(function (validateItem) {
        var input = validateItem.querySelector('.contact__input');
        var errBubble = validateItem.querySelector('.contact__form-validate');
        if (input && input.value) {

          errBubble.classList.remove('d-none');

          if (input.type == 'email' && !isEmail(input.value)) {
              error = 'Invalid Email!';
            //console.log(isEmail(input.value));
          } else if (input.type == 'tel' && input.value.length < 9) {
              error = 'Invalid Phone number!';
            //console.log(input.value.length < 10);
          } else {

            errBubble.classList.add('d-none');
            //error = 'OK';

            // do something here {...}

                    let data = {
                        Name: document.getElementsByName("Name")[0].value,
                        Phone: document.getElementsByName("Phone")[0].value,
                        Email: document.getElementsByName("Email")[0].value,
                        Note: document.getElementsByName("Message")[0].value
                    }
                    axios.post('/api/CommonApi/InsertContact', data).then(function ({ data }) {
                        console.log(data);
                        if (data.result == true) {
                            swal({
                                type: 'success',
                                title: 'Success!',
                                text: 'Ok!',
                            })
                        } else {
                            swal({
                                type: 'error',
                                title: 'Warning',
                                text: data.message,
                            })
                        }

                    }).catch(function (error) {
                        console.log(error);
                    })
          }

        } else {
          errBubble.classList.remove('d-none');
            error = 'Please fill out the field!'
        }
        //console.log(error);
        errBubble.textContent = error;
      });
    }





</script>