
@{
    ViewData["Title"] = "ErpModule";
    Layout = "~/Views/Shared/_LayoutMainLP.cshtml";
}
@Html.Partial("_LayoutBaner")
<section class="section about-us" id="about-us">
    <div class="section__headline">
        <h3 class="section__headline-title">
            Về Chúng Tôi
        </h3>
    </div>
    <div class="section__content">
        <div class="container">
            <p class="about-us__title">
                CHUYÊN GIA SẢN XUẤT QUẢNG CÁO
            </p>
            <p class="about-us__description">
                Nhằm đáp ứng nhu cầu phục vụ từ khách hàng ngày 07/05/2010 Công ty CP TM DV Quảng Cáo Liên Phát chính thức được thành lập
            </p>
            <div class="about-us__items mt-5">
                <div class="about-us__item">
                    <div class="about-us__wrap-icon">
                        <svg class="about-us__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-building"></use>
                        </svg>
                    </div>
                    <p class="about-us__item-description">
                        Liên Phát là một trong những công ty chuyên lĩnh vực sản xuất các vật phẩm quảng cáo, Mô hình  quảng cáo, Event, Activation.
                    </p>
                </div>
                <div class="about-us__item">
                    <div class="about-us__wrap-icon">
                        <svg class="about-us__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-flag"></use>
                        </svg>
                    </div>
                    <p class="about-us__item-description">
                        Với đội ngũ nhân sự  50-100 người chuyên trong lĩnh vực sản xuất quảng cáo, năng động , nhiệt tình và tâm huyết.
                    </p>
                </div>
                <div class="about-us__item">
                    <div class="about-us__wrap-icon">
                        <svg class="about-us__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-global"></use>
                        </svg>
                    </div>
                    <p class="about-us__item-description">
                        Diện tích nhà xưởng trên 1000 m2 ở HCM và 03 chi nhánh tại Cần Thơ, Đà Nẵng, Hà Nội cùng với một số đối tác chiến lược trải đều khắp các tỉnh thành
                        trên toàn quốc
                    </p>
                </div>
                @*<div class="about-us__item">
                    <div class="about-us__wrap-icon">
                        <svg class="about-us__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use>
                        </svg>
                    </div>
                    <p class="about-us__item-description">
                        Strong in Government relationships related to Healthcare & Advertising administration and ability for
                        problem solving if any.

                    </p>
                </div>*@
            </div>
        </div>
    </div>
</section>

<section class="section section--services services" id="our-services">
    <div class="section__headline">
        <h3 class="section__headline-title">
            Dịch Vụ Chúng Tôi
        </h3>
    </div>
    @Html.Partial("_Service")
</section>

<section class="section team" id="team">
    <div class="section__headline">
        <h3 class="section__headline-title">
            Đội ngũ nhân sự
        </h3>
    </div>

    <div class="section__content">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-6 nember--single">
                            <div class="nember">
                                <div class="nember__avatar">
                                    <div class="nember__wrap-img" style="padding-top: 0">
                                        <img class="img-fluid" src="https://cdn2.medihub.vn/ImagesUpload/2018/10/24/eb0de22f-b39d-4584-afa0-9a76b6ea258b_mrHung.png" alt="Alternate Text" />
                                    </div>
                                </div>
                                <div class="nember__info">
                                    <p class="nember__name">Nguyễn Tiến Hùng</p>
                                    <p class="nember__position">
                                        Giám Đốc
                                    </p>
                                    <p class="nember__description">
                                        Là người có trên 20 năm kinh nghiệm trong lĩnh vực sản xuất quảng cáo
                                        Luôn mang đến cho khách hàng những sản phẩm mới , chất lượng vượt trội.
                                        Được các đối tác tin tưởng và hợp tác trong nhiều năm qua
                                    </p>
                                    <ul class="nember__socials">
                                        <li class="nember__social">
                                            <a href="#" class="nember__social-link">
                                                <i class="fab fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="nember__social">
                                            <a href="#" class="nember__social-link">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </li>
                                        <li class="nember__social">
                                            <a href="#" class="nember__social-link">
                                                <i class="fas fa-phone"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 nember--group">
                            <div class="nember">
                                <div style="max-height: 276px; overflow: hidden;">
                                    <img class="img-fluid" src="https://cdn2.medihub.vn/image/555/w/ImagesUpload/2018/10/19/435e7a2d-ac7b-43cf-9d85-c5109bf0c9aa_COVER.jpg" alt="Alternate Text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 nember--group">
                            <div class="nember">
                                <div style="max-height: 309px; overflow: hidden;">
                                    <img class="img-fluid" src="https://cdn2.medihub.vn/image/555/w/ImagesUpload/2018/10/19/5ab3a53c-a21f-49e1-a6b6-26384de879e3_LIENPHAT2.jpg" alt="Alternate Text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 nember--single">
                            <div class="nember nember--reverse">
                                <div class="nember__avatar" style="">
                                    <div class="nember__wrap-img pt-0">
                                        <img class="img-fluid" src="https://cdn2.medihub.vn/ImagesUpload/2018/10/19/5f66f462-a198-4e7e-ab0f-809cf1d82199_mr-thoi.png" alt="Alternate Text" />
                                    </div>
                                </div>
                                <div class="nember__info">
                                    <p class="nember__name">
                                        Nguyễn Văn Thôi
                                    </p>
                                    <p class="nember__position">Trưởng phòng kinh doanh</p>
                                    <p class="nember__description">
                                        Là người có trên 10 năm kinh nghiệm trong việc giám sát và
                                        triển khai các vấn đề liên quang đến sản xuất quảng cáo,
                                        thực hiện các chương trình hội nghị, sự kiện, cùng với đội ngũ 10-15 người chuyên lĩnh vực quảng cáo
                                    </p>
                                    <ul class="nember__socials">
                                        <li class="nember__social">
                                            <a href="#" class="nember__social-link">
                                                <i class="fab fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="nember__social">
                                            <a href="#" class="nember__social-link">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </li>
                                        <li class="nember__social">
                                            <a href="#" class="nember__social-link">
                                                <i class="fas fa-phone"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--contact contact" id="contact">
    <div class="section__content">
        <div class="contact">

            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <div class="contact__info">
                            <h3 class="contact__title">
                                Liên Hệ
                            </h3>
                            <p class="contact__description">
                                Quí khách hàng có nhu cầu cũng như muốn được tư vấn về lĩnh vực sản xuất quảng cáo xin vui lòng liên hệ để nhận được sự phục vụ tận tình từ chúng tôi.
                            </p>

                            <ul class="contact__addresses">
                                <li class="contact__address">
                                    Email: hung.nguyentien@lienphatad.com.vn
                                </li>
                                <li class="contact__address">
                                    Mr. Hùng - Giám đốc: 0938.685.869
                                </li>
                                <li class="contact__address">
                                    Email: thoi.nguyenvan@lienphatad.com.vn
                                </li>
                                <li class="contact__address">
                                    Mr. Thôi - Trưởng phòng kinh doanh: 093.8468.719
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3 class="contact__title">
                            Thông tin liên hệ
                        </h3>
                        <form id="contact-form">
                            <div class="contact__form">
                                <div class="contact__form-row js-contact-validate">
                                    <label for="name" class="contact__label">Tên của bạn</label>
                                    <input type="text" name="Name" placeholder="" class="contact__input">
                                    <div class="contact__form-validate d-none"></div>
                                </div>
                                <div class="contact__form-row js-contact-validate">
                                    <label for="phone" class="contact__label">Điện thoại</label>
                                    <input type="tel" name="Phone" placeholder="" class="contact__input">
                                    <div class="contact__form-validate d-none"></div>
                                </div>
                                <div class="contact__form-row js-contact-validate">
                                    <label for="email" class="contact__label">Email</label>
                                    <input type="email" name="Email" placeholder="" class="contact__input">
                                    <div class="contact__form-validate d-none"></div>
                                </div>
                                <div class="contact__form-row">
                                    <label for="message" class="contact__label">Nội dung</label>
                                    <textarea name="Message" id="" cols="30" rows="4" class="contact__input" placeholder="Vui lòng điền nội dung"></textarea>
                                </div>

                                <button type="submit" id="contact-submit" class="btn btn--primary">Liên hệ chúng tôi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section clients" id="clients">
    <div class="section__headline">
        <h3 class="section__headline-title">
            Khách Hàng
        </h3>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="clients js-client-glide">
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/bayer.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/brands.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/VINAMILK.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/dksh.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/glaxo.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/gohnson.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/NHAT NHAT.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item">
                            <img src="~/Lienphat/assets/img/clients/idp.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/phzer.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/sanofi.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/suzuki.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/thienlong.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/thp.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/united.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/unza.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/wester.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/AJ.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/AJNOMOTO.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/BRANDMAX.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/BV HUNG VUONG.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/BV UNG BUU.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/DANAPHA.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/FABICO.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/FAHASHA.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/mundipharma.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/MENARINI.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/PNC.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/phano.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/stada.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/suzuki.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/Untitled-1.png" alt="" class="img-fluid">
                        </div>
                        <div class="clients__item carousel-cell">
                            <img src="~/Lienphat/assets/img/clients/VIETCREDIT.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    var error = '';

    window.addEventListener('load', () => {

      if (document.getElementById('contact-form').length) {

        document.getElementById('contact-submit').addEventListener('click', function (e) {
          e.preventDefault();
          e.stopPropagation();
          validate();
        })

      }

    });

    // check email
    function isEmail(email) {
      var emailFormat = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return emailFormat.test(email);
    }

    // new validate 
    function validate() {

      var validateItems = document.querySelectorAll('.js-contact-validate');
      validateItems.forEach(function (validateItem) {
        var input = validateItem.querySelector('.contact__input');
        var errBubble = validateItem.querySelector('.contact__form-validate');
        if (input && input.value) {

          errBubble.classList.remove('d-none');

          if (input.type == 'email' && !isEmail(input.value)) {
            error = 'Địa chỉ email không hợp lệ!';
            //console.log(isEmail(input.value));
          } else if (input.type == 'tel' && input.value.length < 9) {
            error = 'Số điện thoại không hợp lệ!';
            //console.log(input.value.length < 10);
          } else {

            errBubble.classList.add('d-none');
            //error = 'OK';

            // do something here {...}

                    let data = {
                        Name: document.getElementsByName("Name")[0].value,
                        Phone: document.getElementsByName("Phone")[0].value,
                        Email: document.getElementsByName("Email")[0].value,
                        Note: document.getElementsByName("Message")[0].value
                    }
                    axios.post('/api/CommonApi/InsertContact', data).then(function ({ data }) {
                        console.log(data);
                        if (data.result == true) {
                            swal({
                                type: 'success',
                                title: 'Success!',
                                text: 'Ok!',
                            })
                        } else {
                            swal({
                                type: 'error',
                                title: 'Warning',
                                text: data.message,
                            })
                        }

                    }).catch(function (error) {
                        console.log(error);
                    })
          }

        } else {
          errBubble.classList.remove('d-none');
          error = 'Xin hãy điền đầy đủ thông tin!'
        }
        //console.log(error);
        errBubble.textContent = error;
      });
    }

    

        

</script>