
@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_LayoutMainLPEng.cshtml";
}

<section class="section about-us" id="about-us">
    <div class="section__headline">
    </div>
    <div class="section__content">
        <div class="container">
            <div class="services">
                <div class="services__service">
                    <h3 class="services__title">
                        POSM Design and Production
                    </h3>
                    <p class="services__summary">
                        Production services for Point-Of-Sales including GT & MT channel
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx10.png" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx15.jpg" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx17.jpg" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx1.jpg" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx2.jpg" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx3.jpg" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx4.jpg" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx5.jpg" alt="Produce promotional items at points of sale" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx6.jpg" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx7.jpg" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx9.png" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx11.png" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx12.jpg" alt="Produce promotional items at points of sale" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx13.jpg" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx14.jpg" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Sx/sx16.jpg" alt="Produce promotional items at points of sale " class="services__item-img img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="services">
                <div class="services__service">
                    <h3 class="services__title">
                        Retail Merchandising and Decor
                    </h3>
                    <p class="services__summary">
                        Produce cabinets, display shelves in retail systems
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id1.jpg" alt="Manufacture of cabinet, display shelves in retail systems" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id2.jpg" alt="Manufacture of cabinet, display shelves in retail systems" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id5.jpg" alt="Manufacture of cabinet, display shelves in retail systems" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id6.jpg" alt="Manufacture of cabinet, display shelves in retail systems" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id7.jpg" alt="Manufacture of cabinet, display shelves in retail systems" class="services__item-img img-fluid">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id9.jpg" alt="Manufacture of cabinet, display shelves in retail systems" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id8.jpg" alt="Manufacture of cabinet, display shelves in retail systems" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id10.jpg" alt="Manufacture of cabinet, display shelves in retail systems" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id11.jpg" alt="Manufacture of cabinet, display shelves in retail systems" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id14.jpg" alt="Manufacture of cabinet, display shelves in retail systems" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id12.jpg" alt="Manufacture of cabinet, display shelves in retail systems" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/indoor/id15.jpg" alt="Manufacture of cabinet, display shelves in retail systems" class="services__item-img img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services">
                <div class="services__service">
                    <h3 class="services__title">
                        Production for Event, Activation & Exhibition
                    </h3>
                    <p class="services__summary">
                        Production of greeting gate, 2D-3D advertising model, truck décor - installation of booths, conferences, events ... etc.
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/mer/mer1.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/mer/mer2.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/mer/mer3.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/Gate2D/2d3.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/Gate2D/2d4.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/mer/mer7.jpg" alt="" class="services__item-img  img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d6.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d7.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d10.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc" class="services__item-img img-fluid">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d9.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d11.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/mer/mee15.png" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/mer/mer10.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/mer/mer12.png" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/mer/mer14.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d5.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/Gate2D/2d8.jpg" alt="Production of greeting port, 2D-3D advertising model, truck décor ... etc" class="services__item-img img-fluid">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="services">
                <div class="services__service">
                    <h3 class="services__title">
                        Printing (poster, banner, brochure, leaflet...)
                    </h3>
                    <p class="services__summary">
                        Printing advertising on all materials PP, Decal, silk fabrics, canvas hiflex, Mica ... ect
                    </p>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/print/pri1.jpg" alt="Print advertising on all materials PP, Decal, silk fabrics, canvas Hiflex, mica ... ect" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/print/pri2.jpg" alt="Print advertising on all materials PP, Decal, silk fabrics, canvas Hiflex, mica ... ect" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/print/pri3.jpg" alt="Print advertising on all materials PP, Decal, silk fabrics, canvas Hiflex, mica ... ect" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/print/pri4.jpeg" alt="Print advertising on all materials PP, Decal, silk fabrics, canvas Hiflex, mica ... ect" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/LienPhat/assets/img/portfolio/Service/print/pri5.jpg" alt="Print advertising on all materials PP, Decal, silk fabrics, canvas Hiflex, mica ... ect" class="services__item-img img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services">
                <div class="services__service">
                    <h3 class="services__title">
                        Production services for Point-Of-Sales including GT & MT channel
                    </h3>
                    <p class="services__summary">
                        Providing advertising services package at the point of sale: rental of advertising position, production of point-of-sale construction, application for advertising license at the point of sale. Rent TVC show at the point of sale, Pharmacy, Hospital across the country.
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/all/all1.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/all/all2.png" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/all/all3.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/all/all4.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/all/all5.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/all/all6.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/all/all7.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/all/all8.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/all/all9.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services__item">
                                <img src="~/Lienphat/assets/img/portfolio/Service/all/all10.jpg" alt="" class="services__item-img img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
