<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <svg alt="" class="navbar-brand__logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use></svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#products">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#service">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">TEAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#clients">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact.html">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
