
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding-left: 30px;
    cursor: pointer;
}

