$page-footer-text-cl: #fff;
.page-footer {
  background: currentColor;
  padding-top: 40px;
  &__wrap-logo {
    text-align: center;
  }
  &__logo {
    // $logo-width: 350px;
    // display: inline-block;
    // width: $logo-width;
    // height: $logo-width * 0.2;
    // padding-bottom: 10px;
    // max-width: 100%;
    // margin-left: -50px;
    // @media (max-width: 575px) {
    //   width: 80%;
    // } 
  }
  &__text {
    color: $page-footer-text-cl;
  }
  &--fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.copyright {
  color: #ccc;
  text-align: center;
  font-size: 1em;
  padding-top: 25px;
}

.social {
  list-style: none;
  padding: 0;
  margin-left: -10px;
  margin-top: -5px;
  display: flex;
  // justify-content: center;
  &__item {
    font-size: $space-l;
  }
  &__link {
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    transition: .3s color;
    &--fb:hover {
      color: $facebook-color;
    }
    &--google:hover {
      color: $google-color;
    }
    &--twitter:hover {
      color: $twitter-color;
    }
    &--youtube:hover {
      color: $youtube-color;
    }
  }
}
