$brand-01: #6EAA27;
$brand-02: #E30411;
$brand-03: #2467a4;
$brand-04: #a42467;
$brand-05: mix($brand-01, $brand-02, $weight:50%);
$brand-06: #545454;

$text-01: #152934;
$text-02: #5a6872;
$text-03: #5a6872;
$text-04: #797979;
$inverse-01: #ffffff;

$facebook-color: #3A559F;
$google-color: #F4511E;
$twitter-color: #1DA1F3;
$youtube-color: #E32B21;

$field-01: rgba(60, 112, 178, .1);

$space-default: 16px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;
$space-xxl: 128px;

$line-height: 1.5;
$heading-line-height: 1.2;
