<!-- inject:components/header.html -->
<!-- endinject -->

<!-- inject:components/nav.html -->
<!-- endinject -->

<main class="main-page">
  <div class="banner">
    <div class="container">
      <div class="banner__intro">
        <h2 class="banner__message">
          WE
          <span class="js-type banner__highlight" data-test="['Are Medihub Company.', 'Do Best Things For You.']"></span>
        </h2>
        <p class="banner__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting.
          <br> Lorem Ipsum is simply dummy text of the printing.
        </p>
        <div class="banner__buttons">
          <button type="button" class="btn btn-success btn-lg mr-3">Learn More</button>
          <button type="button" class="btn btn-outline-success btn-lg">Our Services</button>
        </div>
      </div>
    </div>
    <div class="wrap-particles">
      <div id="particles"></div>
    </div>
  </div>

  <section class="section section--contact contact" id="contact">
    <h2 class="section__headline section__headline--sm-stack contact__headline">
      <span class="section__headline-box contact__headline-box">Contact</span>
      <p class="section__title">Send us an email and we’ll get in touch shortly, or phone between 8:00 and 17:00 Monday to Friday — we would be delighted
        to speak.</p>
    </h2>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="contact__item">
            <div class="contact__icon-wrap">
              <svg class="contact__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"></use>
              </svg>
            </div>
            <p class="contact__title">Call Us</p>
            <a href="tel:(84.8)39910716" class="contact__info">(84.8) 39910716</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact__item">
            <div class="contact__icon-wrap">
              <svg class="contact__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-envelope"></use>
              </svg>
            </div>
            <p class="contact__title">Mail Us</p>
            <a href="mailto:lienhe@medihub.vn" class="contact__info">lienhe@medihub.vn</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact__item">
            <div class="contact__icon-wrap">
              <svg class="contact__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location"></use>
              </svg>
            </div>
            <p class="contact__title">Our Address</p>
            <a href="#" class="contact__info">
              Lầu 4, 302 Lê Văn Sỹ, P. 1, Q. Tân Bình, TP.HCM
            </a>
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="name" class="contact__label">Your Name</label>
                <input type="name" class="form-control" id="name" placeholder="Your Name">
              </div>
              <div class="form-group col-md-6">
                <label for="phone" class="contact__label">Phone Number</label>
                <input type="phone" class="form-control" id="phone" placeholder="Phone Number">
              </div>
              <div class="form-group col-md-6">
                <label for="email" class="contact__label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group col-md-12">
                <label for="message" class="contact__label">Message</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-lg btn-success">Send Message</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6 mt-5">
          <div id="map" style="height: 100%"></div>
        </div>
      </div>
    </div>
    <!--container-->
  </section>
</main>

<!-- inject:components/symbol-defs.svg -->
<!-- endinject -->

<!-- inject:components/footer.html -->
<!-- endinject -->
