<!-- inject:components/header.html -->
<!-- endinject -->

<!-- inject:components/nav.html -->
<!-- endinject -->

<!-- loading page -->
<div class="loading">
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>

<main class="main-page">
  <div class="banner">
    <div class="container">
      <div class="banner__intro">
        <h2 class="banner__message">
          WE
          <span class="js-type banner__highlight" data-test="['Are Medihub Company.', 'Do Best Things For You.']"></span>
        </h2>
        <p class="banner__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting.
          <br> Lorem Ipsum is simply dummy text of the printing.
        </p>
        <div class="banner__buttons">
          <button type="button" class="btn btn-success mr-3">Learn More</button>
          <button type="button" class="btn btn-success">Our Services</button>
        </div>
      </div>
    </div>
    <!-- <div class="wrap-particles">
      <div id="particles"></div>
    </div> -->
  </div> 

  <section class="section product" id="products">
    <h2 class="section__headline">
      <span class="section__headline-box">our products</span>
    </h2>
    <div class="container">
      <div class="section__content">
        <div class="product__items">
          <div class="product__item">
            <div class="row no-gutters justify-content-lg-between justify-content-center">
              <div class="col-lg-6 col-md-8 col-sm-12 wow slideInRight order-lg-2">
                <div class="product__label">
                  <img src="images/medihub-social.png" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-lg-6 col-md-8 col-sm-12 wow slideInLeft order-lg-1">
                <div class="product__description">
                  <h3 class="product__title">MEDIHUB SOCIAL NETWORK</h3>
                  <ul class="product__list">
                    <li class="product__list-item">Official partnership with Hospitals & Doctors</li>
                    <li class="product__list-item">Interactive network People - HCPs - Brands</li>
                    <li class="product__list-item">Practical Medical care education</li>
                    <li class="product__list-item">Doctor finder</li>
                  </ul>
                  <button type="button" class="btn btn-outline-success product__link">
                    Discover
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--reverse">
            <div class="row no-gutters justify-content-lg-between justify-content-center">
              <div class="col-lg-6 col-md-8 col-sm-12 wow slideInLeft">
                <div class="product__label">
                  <img src="images/medihub-ds.png" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-lg-6 col-md-8 col-sm-12 wow slideInRight">
                <div class="product__description">
                  <h3 class="product__title">MediHub Digital Signage</h3>
                  <ul class="product__list">
                    <li class="product__list-item">Legal registration</li>
                    <li class="product__list-item">1st class hospitals & class A pharmacies in 5 key cities</li>
                    <li class="product__list-item">LED Digital Signage ( 32, 40 and 60 inches )</li>
                    <li class="product__list-item">All kind of advertisments ( 5s / 15s / 30s )</li>
                    <li class="product__list-item">Real-time mornitoring, ON/OFF automatically</li>
                    <li class="product__list-item">12 hours / day ( 07:00 ~ 12:00, 14:00 ~ 21:00 )</li>
                    <li class="product__list-item">3 minutes / loop in pharmacy ( 120 spots / day )</li>
                    <li class="product__list-item">5 minutes / loop in hospital ( 72 spots / day )</li>
                  </ul>
                  <button type="button" class="btn btn-outline-success product__link">
                    Discover
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item">
            <div class="row no-gutters justify-content-lg-between justify-content-center">
              <div class="col-lg-6 col-md-8 col-sm-12 order-lg-2 wow slideInRight">
                <div class="product__label">
                  <img src="images/medihub-wifi.png" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-lg-6 col-md-8 col-sm-12 order-lg-1 wow slideInLeft">
                <div class="product__description">
                  <h3 class="product__title">MediHub Wifi Public</h3>
                  <span class="product__list-title">People</span>
                  <ul class="product__list">
                    <li class="product__list-item">Free internet access with stable connection</li>
                    <li class="product__list-item">Increased personal satisfaction</li>
                    <li class="product__list-item">Accessibility of Medical Info</li>
                  </ul>
                  <span class="product__list-title">Hospital</span>
                  <ul class="product__list">
                    <li class="product__list-item">Fullfillment of hospital quality standard</li>
                    <li class="product__list-item">Online survey</li>
                    <li class="product__list-item">Hospital communication channel</li>
                  </ul>
                  <span class="product__list-title">Brand</span>
                  <ul class="product__list">
                    <li class="product__list-item">Interaction with target consumers</li>
                    <li class="product__list-item">Measurable</li>
                    <li class="product__list-item">Retargeting</li>
                  </ul>
                  <button type="button" class="btn btn-outline-success product__link">
                    Discover
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="product__item product__item--reverse">
            <div class="row no-gutters justify-content-lg-between justify-content-center">
              <div class="col-lg-6 col-md-8 col-sm-12 wow slideInLeft">
                <div class="product__label">
                  <img src="images/medihub-sc.png" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-lg-6 col-md-8 col-sm-12 wow slideInRight">
                <div class="product__description">
                  <h3 class="product__title">MediHub SC Application</h3>
                  <span class="product__list-title">Saleclerks</span>
                  <ul class="product__list">
                    <li class="product__list-item">Join SC community</li>
                    <li class="product__list-item">CME</li>
                    <li class="product__list-item">Incentives</li>
                    <li class="product__list-item">Job opportunities</li>
                  </ul>
                  <span class="product__list-title">Products owner</span>
                  <ul class="product__list">
                    <li class="product__list-item">Interact with your product recommender</li>
                    <li class="product__list-item">Build trust</li>
                    <li class="product__list-item">Increase Off-take</li>
                    <li class="product__list-item">Selling-out data</li>
                  </ul>
                  <button type="button" class="btn btn-outline-success product__link">
                    Discover
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--sc play">
    <div class="container">
      <div class="row">
        <div class="sc__intro align-items-center col-lg-4">
          <h4 class="sc__title">Putting an end to analytics blind spots. That's the Associative Difference
            <sup>TM</sup>
          </h4>
          <p class="sc__content">
            The problem with most BI vendors is that they rely on query-based analysis that restricts people to linear exploration within
            a partial view of their data. Qlik’s Associotive engine lets you combine only number of data sources so you can
            freely explore across all your data and instantly pivot your thinking based on that you see. The result: Powerful
            insights you miss with other tools.
          </p>
        </div>

        <div class="sc__video align-items-center col-lg-6 col-md-8">
          <img class="sc__bg img-fluid" src="images/sc/mockupApples.png">
          <div class="play__wrap">
            <a class="play__btn" data-fancybox href="https://www.youtube.com/watch?v=oaYFWSuXLuA&feature=youtu.be">
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- <h2 class="section__headline section__headline--sm-stack section__headline--light">
      <span class="section__headline-box">Medihub Intro</span>
      <p class="section__title">Video Intro about Medihub</p>
    </h2>
    <div class="section__content">
      <div class="container">
        <div class="play__wrap">
          <a class="play__btn" data-fanctybox="group" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
            <i class="fa fa-play play__btn-icon" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div> -->
  </section>

  <section class="section services" id="service">
    <div class="container">
      <h2 class="section__headline">
        <span class="section__headline-box">our services</span>
      </h2>
      <div class="section__content">
        <div class="row no-gutters">
          <div class="col-md-4 col-sm-6 wow fadeInLeftaSubtle service-item" data-wow-duration="1s">
            <div class="services__item">
              <svg class="services__img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ds2"></use>
              </svg>
              <h3 class="services__title">DIGITAL SIGNAGE ADVERTISING</h3>
              <p class="services__description">Our presence at leading HOSPITALs and large PHARMACIES reaching millions of your target customers at the most
                affordable cost.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 service-item wow fadeInLeftSubtle" data-wow-duration="1s">
            <div class="services__item">
              <svg class="services__img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cme2"></use>
              </svg>
              <h3 class="services__title">CME MATERIALS </h3>
              <p class="services__description">We are official partnership with Healthcare Professionals to produce health and medical education materials
                in variety of forms.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 service-item wow fadeInLeftSubtle" data-wow-duration="1s">
            <div class="services__item">
              <svg class="services__img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-app2"></use>
              </svg>
              <h3 class="services__title">PHARMACY SALESCLERK INTERACTIVE</h3>
              <p class="services__description">Mobile App help you interact with the recommenders, who play a vital role in your product survival.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 service-item wow fadeInLeftSubtle" data-wow-duration="1s">
            <div class="services__item">
              <svg class="services__img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pr2"></use>
              </svg>
              <h3 class="services__title">PR & DIGITAL MARKETING</h3>
              <p class="services__description">We offer wide range of specialized services based on our deep experience and relationships in PR & digital
                healthcare communication to bring most effective for your brand.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 service-item wow fadeInLeftSubtle" data-wow-duration="1s">
            <div class="services__item">
              <svg class="services__img">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cr2"></use>
              </svg>
              <h3 class="services__title">CREATIVE & PRODUCTION</h3>
              <p class="services__description">We convey nons-top creative advertising message to target audiences in both digital and traditional media.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <div class="counter">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="counter__item">
            <p class="counter__number" data-count="30893">10</p>
            <p class="counter__title">Digital screens</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="counter__item">
            <p class="counter__number" data-count="737812">10</p>
            <p class="counter__title">Daily active users in Social</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="counter__item">
            <p class="counter__number" data-count="2133">3</p>
            <p class="counter__title">Top hospital in Co.oporation</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section portfolio" id="portfolio">
    <div class="portfolio__bg portfolio__bg--color-1 portfolio__bg--sm portfolio__bg--pos-1"></div>
    <div class="portfolio__bg portfolio__bg--color-2 portfolio__bg--md portfolio__bg--pos-2"></div>
    <div class="portfolio__bg portfolio__bg--color-2 portfolio__bg--lg portfolio__bg--pos-3"></div>
    <h2 class="section__headline section__headline--sm-stack">
      <span class="section__headline-box">our portfolio</span>
      <p class="section__title">Một số hình ảnh
      </p>
    </h2>
    <div class="section__content">
      <div class="container">
        <div class="portfolio__control">
          <div class="portfolio__control-item" data-filter="all">All</div>
          <div class="portfolio__control-item" data-filter=".drug">Drugstore</div>
          <div class="portfolio__control-item" data-filter=".hospital">Hospital</div>
        </div>
        <div class="portfolio__images js-mixitup" id="portfolio__images">


          <div class="mix portfolio__item hospital">
            <div class="portfolio__wrap">
              <img src="./images/bv/pic1.jpg" class="img-fluid" alt="" />
              <a href="./images/bv/pic1.jpg" class="mask mask--01 fancybox" data-fanctybox="group" data-caption="My caption">
                <div class="mask__wrap-icon">
                  <i class="fa fa-search mask__icon" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="mix portfolio__item hospital">
            <div class="portfolio__wrap">
              <img src="./images/bv/pic2.jpg" alt="" class="img-fluid">
              <a href="./images/bv/pic2.jpg" class="mask mask--01 fancybox" data-fanctybox="group" data-caption="My caption">
                <div class="mask__wrap-icon">
                  <i class="fa fa-search mask__icon" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="mix portfolio__item hospital">
            <div class="portfolio__wrap">
              <img src="./images/bv/pic3.jpg" alt="" class="img-fluid">
              <a href="./images/bv/pic3.jpg" class="mask mask--01 fancybox" data-fanctybox="group" data-caption="My caption">
                <div class="mask__wrap-icon">
                  <i class="fa fa-search mask__icon" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="mix portfolio__item hospital">
            <div class="portfolio__wrap">
              <img src="./images/bv/pic4.jpg" alt="" class="img-fluid">
              <a href="./images/bv/pic4.jpg" class="mask mask--01 fancybox" data-fanctybox="group" data-caption="My caption">
                <div class="mask__wrap-icon">
                  <i class="fa fa-search mask__icon" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="mix portfolio__item hospital">
            <div class="portfolio__wrap">
              <img src="./images/bv/pic5.jpg" alt="" class="img-fluid">
              <a href="./images/bv/pic5.jpg" class="mask mask--01 fancybox" data-fanctybox="group" data-caption="My caption">
                <div class="mask__wrap-icon">
                  <i class="fa fa-search mask__icon" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="mix portfolio__item drug">
            <div class="portfolio__wrap">
              <img src="./images/bv/pic6.jpg" alt="" class="img-fluid">
              <a href="./images/bv/pic6.jpg" class="mask mask--01 fancybox" data-fanctybox="group" data-caption="My caption">
                <div class="mask__wrap-icon">
                  <i class="fa fa-search mask__icon" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="mix portfolio__item drug">
            <div class="portfolio__wrap">
              <img src="./images/bv/pic7.jpg" alt="" class="img-fluid">
              <a href="./images/bv/pic7.jpg" class="mask mask--01 fancybox" data-fanctybox="group" data-caption="My caption">
                <div class="mask__wrap-icon">
                  <i class="fa fa-search mask__icon" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="mix portfolio__item drug">
            <div class="portfolio__wrap">
              <img src="./images/bv/pic8.jpg" alt="" class="img-fluid">
              <a href="./images/bv/pic8.jpg" class="mask mask--01 fancybox" data-fanctybox="group" data-caption="My caption">
                <div class="mask__wrap-icon">
                  <i class="fa fa-search mask__icon" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="mix portfolio__item drug">
            <div class="portfolio__wrap">
              <img src="./images/bv/pic9.jpg" alt="" class="img-fluid">
              <a href="./images/bv/pic9.jpg" class="mask mask--01 fancybox" data-fanctybox="group" data-caption="My caption">
                <div class="mask__wrap-icon">
                  <i class="fa fa-search mask__icon" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="mix portfolio__item drug">
            <div class="portfolio__wrap">
              <img src="./images/bv/pic10.jpg" alt="" class="img-fluid">
              <a href="./images/bv/pic10.jpg" class="mask mask--01 fancybox" data-fanctybox="group" data-caption="My caption">
                <div class="mask__wrap-icon">
                  <i class="fa fa-search mask__icon" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--team team" id="team">
    <h2 class="section__headline section__headline--sm-stack">
      <span class="section__headline-box">our team</span>
      <p class="section__title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
        printing.
      </p>
    </h2>
    <div class="container">
      <div class="team__nembers">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-6">
            <div class="team__nember">
              <div class="team__avatar team__avatar-1">
              </div>
              <p class="team__name">
                Nguyen The Dinh
              </p>
              <p class="team__position">
                CEO.FOUNDER MEDIHUB
              </p>
              <div class="team__description">
                <div class="team__description--mix">
                  <p class="team__description--top">
                    Having 17 years’ experience in FMCG and Pharmaceutical Industry in both OTC & Ethical market, Dinh has been undertaking different
                    senior management positions as:
                  </p>
                  <p class="team__description--top">
                    Marketing Head of United International Pharma;
                  </p>
                  <p class="team__description--top">Commercial & Government Relations Director of Fresenius Kabi Asia Pacific; .
                  </p>
                  <p team__description--top>Managing Director of Lien Phat Advertising Production;
                  </p>
                  <p team__description--top>Senior Consultant of BizHub Consulting;
                  </p>
                  <div class="team__description--fade-out">
                  </div>
                </div>
                <a class="team__description--btnmore">Read more
                  <i class="fa fa-caret-down"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="team__nember">
              <div class="team__avatar team__avatar-2">
              </div>
              <p class="team__name">
                Nguyen The Dung
              </p>
              <p class="team__position">
                ADVISOR TO BOD
              </p>
              <div class="team__description">
                <div class="team__description--mix">
                  <p class="team__description--top">
                    We’re honor to have agreement of Mr. Nguyen The Dung – Doctor of Medicine, Former Director of HCMC Department of Health -
                    as our Senior Advisor for medical scientific and government policy related to Healthcare and Social.
                  </p>
                  <p class="team__description--top">
                    Dr.Dung has 40 years experience as Medical Doctor & Medical Lecturer. He also has understanding of major medical specialties
                    and especially healthcare strategies & policies when he spent almost 10 years as leader of HCMC Department
                    of Health.

                  </p>
                  <p class="team__description--top">He is now the Chair of infections Department of VietNam National University of HCMC and Pham Ngoc Thach
                    Medical University and Head of Hospital Management Program corporate with French Government.</p>
                  <div class="team__description--fade-out">
                  </div>
                </div>
                <a class="team__description--btnmore">Read more
                  <i class="fa fa-caret-down"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="team__nember">
              <div class="team__avatar team__avatar-3">
              </div>
              <p class="team__name">
                Le Truc Phuong
              </p>
              <p class="team__position">
                ADVISOR TO BOD
              </p>
              <div class="team__description">
                <div class="team__description--mix">
                  <p class="team__description--top">
                    Mr.Phuong is one of our main consultant for Medical regulation, especially application into practice. He start to join HCMC
                    Service of Health since 1998 and have been experienced with different senior positions in healthcare
                    management:
                  </p>
                  <p class="team__description--top">
                    Lawyer (Lawyer Association of Ho Chi Minh City)
                  </p>
                  <p class="team__description--top">Chief of Administration office – Health Department of Ho Chi Minh City .
                  </p>
                  <p team__description--top>Vice Director of HOCHIMINH CITY INSTITUTE FOR DEVELOPMENT CENTER – WTO Center
                  </p>
                  <p team__description--top>Chief of Administration Department - HOCHIMINH CITY INSTITUTE FOR DEVELOPMENT CENTER
                  </p>
                  <p team__description--top>Deputy head of Quality control Department – Nguyễn Tri Phương hospital
                  </p>
                  <p team__description--top>2017 to present: Head of IT Department – Nguyễn Tri Phương hospital
                  </p>
                  <div class="team__description--fade-out">
                  </div>
                </div>
                <a class="team__description--btnmore">Read more
                  <i class="fa fa-caret-down"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="team__nember">
              <div class="team__avatar team__avatar-4">
              </div>
              <p class="team__name">
                Nguyen Thanh Danh
              </p>
              <p class="team__position">
                ADVISOR TO BOD
              </p>
              <div class="team__description">
                <div class="team__description--mix">
                  <p class="team__description--top">
                    Mr.Phuong is one of our main consultant for Medical regulation, especially application into practice. He start to join HCMC
                    Service of Health since 1998 and have been experienced with different senior positions in healthcare
                    management:
                  </p>
                  <p class="team__description--top">
                    Lawyer (Lawyer Association of Ho Chi Minh City)
                  </p>
                  <p class="team__description--top">Chief of Administration office – Health Department of Ho Chi Minh City .
                  </p>
                  <p team__description--top>Vice Director of HOCHIMINH CITY INSTITUTE FOR DEVELOPMENT CENTER – WTO Center
                  </p>
                  <p team__description--top>Chief of Administration Department - HOCHIMINH CITY INSTITUTE FOR DEVELOPMENT CENTER
                  </p>
                  <p team__description--top>Deputy head of Quality control Department – Nguyễn Tri Phương hospital
                  </p>
                  <p team__description--top>2017 to present: Head of IT Department – Nguyễn Tri Phương hospital
                  </p>
                  <div class="team__description--fade-out">
                  </div>
                </div>
                <a class="team__description--btnmore">Read more
                  <i class="fa fa-caret-down"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--container-->
  </section>

  <section class="section cliens" id="clients">
    <h2 class="section__headline section__headline--xs-stack">
      <span class="section__headline-box">our cliens</span>
    </h2>
    <div class="section__content">
      <div class="clients js-client-slide">
        <div class="clients__item">
          <img src="./images/clients/abbott.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/aj.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/ajinomoto.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/bayer.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/bayer-white.jpg" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/dksh.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/fonterra.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/groupm.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/gsk.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/ipsen.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/kitkat.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/kotra.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/menarini.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/merck.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/merz.gif" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/nhatnhat.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/nundi.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/nutifood.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/pfizer.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/roche.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/rohto.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/sanofi.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/stada.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/united.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/unza.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/vinamilk.png" alt="" class="img-fluid">
        </div>
        <div class="clients__item">
          <img src="./images/clients/zuelligpharma.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="section section--contact contact" id="contact">
    <h2 class="section__headline section__headline--sm-stack contact__headline">
      <span class="section__headline-box contact__headline-box">Contact</span>
      <p class="section__title">Send us an email and we’ll get in touch shortly, or phone between 8:00 and 17:00 Monday to Friday — we would be delighted
        to speak.</p>
    </h2>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="contact__item">
            <div class="contact__icon-wrap">
              <svg class="contact__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"></use>
              </svg>
            </div>
            <p class="contact__title">Call Us</p>
            <a href="tel:(84.8)39910716" class="contact__info">(84.8) 39910716</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact__item">
            <div class="contact__icon-wrap">
              <svg class="contact__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-envelope"></use>
              </svg>
            </div>
            <p class="contact__title">Mail Us</p>
            <a href="mailto:lienhe@medihub.vn" class="contact__info">lienhe@medihub.vn</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact__item">
            <div class="contact__icon-wrap">
              <svg class="contact__icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location"></use>
              </svg>
            </div>
            <p class="contact__title">Our Address</p>
            <a href="#" class="contact__info">
              Lầu 4, 302 Lê Văn Sỹ, P. 1, Q. Tân Bình, TP.HCM
            </a>
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="name" class="contact__label">Your Name</label>
                <input type="name" class="form-control" id="name" placeholder="Your Name">
              </div>
              <div class="form-group col-md-6">
                <label for="phone" class="contact__label">Phone Number</label>
                <input type="phone" class="form-control" id="phone" placeholder="Phone Number">
              </div>
              <div class="form-group col-md-6">
                <label for="email" class="contact__label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group col-md-12">
                <label for="message" class="contact__label">Message</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-lg btn-success">Send Message</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6 mt-5">
          <div id="map" style="height: 100%; min-height: 300px"></div>
        </div>
      </div>
    </div>
    <!--container-->
  </section>

  <!-- scroll to top btn -->
  <div class="scroll__top">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </div>

</main>

<!-- inject:components/symbol-defs.svg -->
<!-- endinject -->

<!-- inject:components/footer.html -->
<!-- endinject -->
